@font-face {
  font-family: 'CHILLER';
  src: url('../fonts/CHILLER.eot');
  src: url('../fonts/CHILLER.eot') format('embedded-opentype'),url('../fonts/CHILLER.woff2') format('woff2'),url('../fonts/CHILLER.woff') format('woff'),url('../fonts/CHILLER.ttf') format('truetype'),url('../fonts/CHILLER.svg#CHILLER') format('svg');
}

/* Variables CSS */

:root {
  --button-bg-color: #efc94c;
  --button-bg-hover-color: #fff;
  --bg-color: #534e4a;
  --text-color: #fff;
  --btn-hover-text-color: #efc94c;
  --btn-text-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  --heading-color: #5d5850;
}


/*button-1 {
  --button-bg-color: #efc94c;
  --button-font-size: 14px;
  --button-width: 145px;
  --button-height: 32px;
}
button-2 {
  --button-bg-color: #efc94c;
  --button-font-size: 14px;
  --button-width: 170px;
  --button-height: 40px;
}
button-3 {
  --button-bg-color: #efc94c;
  --button-font-size: 14px;
  --button-width: 198px;
  --button-height: 54px;
}*/
p {
  --paragraph-color: #5d5850;
  --paragraph-font-size: 14px;
}
h1 {
  --font-size: 34px;
  --font-weight: 400;
  --font-family: 'Open Sans', sans-serif;
}
h2 {
  --font-size: 28px;
  --font-weight: 500;
  --font-family: 'Open Sans', sans-serif;
}
h3 {
  --font-size: 20px;
  --font-weight: 700;
  --font-family: 'Open Sans', sans-serif;
}
h4 {
  --font-size: 14px;
  --font-weight: 500;
  --font-family: 'Open Sans', sans-serif;
}
h5 {
  --font-size: 12px;
  --font-weight: 700;
  --font-family: 'Open Sans', sans-serif;
}
h6 {
  --font-size: 10px;
  --font-weight: 400;
  --font-family: 'Open Sans', sans-serif;
}
color-code {
  --color-code-color1: #efc94c;
}
/* End Variables CSS */

body,
html {
  font-family: 'Open Sans', sans-serif !important;
}

.right_btn_donate {
  text-align: right;
}

.right_btn_donate a {
  text-transform: uppercase;
  padding: 0px;
  background: var(--button-bg-color);
  font-size: 14px;
  color: var(--btn-text-color);
  width: 145px;
  height: 32px;
  display: inline-block;
  text-align: center;
  line-height: 32px;
  border: 1px solid #efc94c;
  transition: all 0.3s ease-in-out;
  border-radius: 0px;
}

.right_btn_donate a:hover {
  background: var(--button-bg-hover-color) !important;
  color: var(--btn-hover-text-color) !important;
  text-decoration: none;
}

.left_top ul,
ul.primary {
  list-style: none;
  padding: 0px;
  display: inline-block;
  margin: 0px;
}

.left_top ul li,
ul.primary li {
  margin-right: 10px;
  display: inline-block;
}

.left_top ul li a,
ul.primary li a {
  font-size: 14px;
  color: #a3a3a3;
}

.left_top ul li a:hover,
ul.primary li a:hover {
  color: #a3a3a3;
  text-decoration: none;
}

.left_top ul li a img {
  margin-right: 5px;
}

.main_header {
  background: var(--bg-color);
  padding: 14px 0px 10px;
}

.menu_main nav.navbar {
  padding: 0px;
  justify-content: flex-end;
}

.menu_main {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}

.menu_main .navbar-expand-lg .navbar-collapse {
  justify-content: flex-end;
}

ul.navbar-nav {
  margin: 0px;
  list-style: none;
  padding: 0px;
}

ul.navbar-nav  li {
  margin-left: 50px;
  display: inline-block;
}

ul.navbar-nav  li a {
  color: #fff;
  font-size: 16px;
  padding: 13px 0px 0px;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
  border-bottom: 2px solid transparent;
}

ul.navbar-nav  li a:focus {
  outline: none;
}

ul.navbar-nav  li.current_page_item a,
ul.navbar-nav  li a:hover {
  border-bottom: 2px solid #fff;
  text-decoration: none;
}

.navbar-nav  ul {
  margin: 0px;
  list-style: none;
  padding: 0px;
}

.navbar-nav  ul li {
  margin-left: 50px;
  display: inline-block;
}

.navbar-nav  ul li a {
  color: #fff;
  font-size: 16px;
  padding: 13px 0px 0px;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
  border-bottom: 2px solid transparent;
}

.navbar-nav  ul li a:focus {
  outline: none;
}

.navbar-nav  ul li.current_page_item a,
ul.navbar-nav  li a:hover {
  border-bottom: 2px solid #fff;
  text-decoration: none;
}

.left_top ul li .widget {
  margin: 0px;
}

.left_top ul+ul {
  margin-top: 5px;
  margin-left: 5px;
}
.left_top {
  display: flex;
  align-items: center;
}

.slider_banner {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
}

.slider_banner:before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  background: rgb(126 124 124 / 20%);
}

.slider_content h1 {
  margin-bottom: 25px;
  font-family: 'CHILLER';
  color: #fff;
  font-size: 75px;
  -webkit-text-stroke: medium;
  line-height: 80px;
  letter-spacing: 3px;
  text-shadow: 5px 5px 5px #000;
  text-transform: uppercase;
}

a.btn_check_causes {
  background: var(--button-bg-color);
  color: var(--btn-text-color);
  font-size: 16px;
  width: 198px;
  height: 54px;
  line-height: 54px;
  display: inline-block;
  border: 1px solid #efc94c;
  transition: all 0.3s ease-in-out;
  text-transform: capitalize;
}

a.btn_check_causes:hover {
  background: var(--button-bg-hover-color);
  color: var(--btn-hover-text-color);
  text-decoration: none;
}

.slider_content {
  background-image: url(../images/shadow.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 100px 0px 120px;
  text-align: center;
  position: relative;
  z-index: 9;
}

.footer_section {
  background: var(--bg-color);
  padding: 26px 0px 25px;
}

.footer_par p {
  margin: 0px;
  font-size: 14px;
  color: #fff;
  font-style: normal;
}

.footer_par {
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 14px;
  color: #fff;
  font-style: normal;
}

.footer-logo {
  text-align: center;
}

.footer_social_icon {
  text-align: right;
}

.footer_social_icon ul {
/*  list-style: none;*/
  justify-content: flex-end;
  padding: 0px;
  margin: 4px 0px 0px;
}

.footer_social_icon ul li {
  background: #efc94c;
  border-radius: 50px;
  display: inline-block;
  margin-left: 3px;
  width: 35px;
  text-align: center;
  height: 35px;
  line-height: 35px;
}

.footer_social_icon ul li a {
  color: #fff;
  display: inline-block;
  text-align: center;
  padding: 0px !important;
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

.footer_social_icon ul li:hover {
  background: #787775;
  color: #fff;
  text-decoration: none;
}

.left_top ul+ul li a {
  font-size: 16px;
  transition: all 0.3s ease-in-out;
}

.left_top ul+ul li a:hover {
  color: #efc94c;
  text-decoration: none;
}

.widget {
  margin: 0px !important;
}

.slider_content img {
  margin-bottom: 25px;
}

.middle-content .row {
  background: #f9f9f9;
  box-shadow: 0px 0px 6px rgba(0,0,0,0.5);
  border-radius: 10px;
}

.middle-content-text {
  border-right: 1px solid #efc94c;
  padding: 20px 0px;
  text-align: center;
}

.middle-content .col-md-3:last-child .middle-content-text {
  border-right: medium none;
}

.middle-content-text h3 {
  font-size: 18px;
  font-weight: 700;
  color: #5d5850;
  margin-top: 10px;
  text-transform: uppercase;
}

.middle-content-text h2 {
  color: #5d5850;
  font-size: 28px;
  font-weight: bold;
  margin: 0px;
}

.middle-content-text i.fa {
  font-size: 30px;
  color: #efc94c;
}

.middle-content {
  margin-top: -45px;
  position: relative;
  z-index: 9;
}

.middle_banner_content {
  background: #535353;
  padding: 55px 0px 70px;
  margin: 70px 0px;
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.middle_banner_content:before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: rgba(0,0,0,0.3);
}

.middle_banner_content .container .row {
  position: relative;
}

.middle_banner_content h1 {
  text-align: center;
  display: inline-block;
  width: 100%;
  text-shadow: 2px 2px #000;
  color: #fff;
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 25px;
}
.middle_banner_content p {
  color: #fff;
  font-size: 20px;
  text-shadow: 1px 1px #000;
  font-weight: 400;
  text-align: center;
  max-width: 80%;
  margin: 0px auto 15px;
}

.middle-btn {
  text-align: center;
  width: 100%;
  margin-top: 25px;
}

a.btn_donate_now {
  text-transform: uppercase;
  background: var(--button-bg-color);
  color: var(--btn-text-color);
  font-size: 14px;
  width: 140px;
  height: 35px;
  line-height: 34px;
  display: inline-block;
  border-radius: 50px;
  margin: 0px 25px;
  border: 1px solid #efc94c;
  transition: all 0.3s ease-in-out;
}

a.btn_donate_now:hover {
  background: transparent;
  color: #efc94c;
  text-decoration: none;
}

a.btn_read_more {
  text-transform: uppercase;
  background: transparent;
  color: var(--btn-text-color);
  font-size: 14px;
  width: 140px;
  height: 35px;
  line-height: 34px;
  text-shadow: 0px 1px black;
  display: inline-block;
  border-radius: 50px;
  margin: 0px 25px;
  border: 1px solid #efc94c;
  transition: all 0.3s ease-in-out;
}

a.btn_read_more:hover {
  background: var(--button-bg-color);
  color: #fff;
  text-decoration: none;
  text-shadow: inherit;
}

.our-causes {
  margin-top: 70px;
}

.our-causes-top .block-block-content {
  width: 100%;
  text-align: center;
  margin-bottom: 40px;
}

.our-causes-top .block-block-content h2 {
  color: #5d5850;
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 45px;
  position: relative;
  text-transform: uppercase;
}

.our-causes-top .block-block-content h2:before {
  content: "";
  position: absolute;
  bottom: -30px;
  left: 50%;
  background: url(../images/heading-shape.png);
  background-repeat: no-repeat;
  background-position: center center;
  width: 201px;
  height: 22px;
  margin-left: -100px;
}

.our-causes-top .block-block-content p {
  font-size: 13px;
  color: #5d5850;
  font-weight: 600;
  max-width: 50%;
  margin: 0px auto 15px;
}

.our-causes-list {
  background: #f9f9f9;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
  transition: all 0.3s ease-in-out;
}

.our-causes-list a:hover {
  text-decoration: none;
}

.our-causes-list:hover {
  box-shadow: 0px 0px 22px rgba(0,0,0,0.5);
}

.our-causes-list .views-field-field-main-image {
  margin-bottom: 15px;
}

.our-causes-list .views-field-field-main-image img {
  width: 100%;
  max-width: 100%;
  height: 175px;
  object-fit: cover;
}

.our-causes-list .views-field-title a {
  padding: 7px 10px 10px;
  color: #5d5850;
  font-size: 20px;
  font-weight: 600;
}

.our-causes-list p {
  color: #5d5850;
  font-size: 14px;
  font-weight: 500;
  padding: 0px 10px;
}

.views-field-view-node {
  text-align: center;
  padding: 15px 0px 25px;
}

.views-field-view-node a {
  background: var(--button-bg-color);
  color: var(--btn-text-color);
  font-size: 14px;
  border: 1px solid #efc94c;
  width: 150px;
  height: 40px;
  line-height: 40px;
  transition: all 0.3s ease-in-out;
  display: inline-block;
  font-weight: 600;
}

.views-field-view-node a:hover {
  background: var(--button-bg-hover-color);
  color: var(--btn-hover-text-color);
  text-decoration: none;
}

.our-blog {
  margin-bottom: 50px;
}

.our-blog-inner-img img {
  max-width: 100%;
  width: 100%;
}

.our-blog-inner-img {
  margin-bottom: 25px;
}

.our-blog-inner h2 {
  color: #59524c;
  font-size: 28px;
  font-weight: 400;
  margin-bottom: 15px;
}

.our-blog-inner p {
  color: #59524c;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 0px;
  line-height: 22px;
}

.our-blog-dates ul {
  padding: 0px;
  margin: 0px 0px 20px;
  list-style: none;
}

.our-blog-dates ul li {
  margin-right: 10px;
  display: inline-block;
  color: #59524c;
  font-size: 14px;
}

.our-blog-dates ul li i {
  margin-right: 5px;
}

.our-blog-inner {
  margin-top: 70px;
}

.top_banner_head {
  padding: 100px 0px;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
}

.top_banner_head:before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: rgba(0,0,0,0.2);
}

.top_banner_head_content h1 {
  color: #fff;
  font-weight: 600;
  font-size: 51px;
  margin-bottom: 10px;
  margin-top: 0px;
}

.top_banner_head_content ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.top_banner_head_content ul li {
  display: inline-block;
  margin: 0px 2px;
}

.top_banner_head_content ul li a {
  color: #fff;
  font-size: 16px;
}

.top_banner_head_content ul li {
  color: #fff;
}

.blog-listing-inner {
  background: #f9f9f9;
  box-shadow: 0px 0px 5px rgb(0 0 0 / 50%);
  transition: all 0.3s ease-in-out;
  padding-bottom: 15px;
  margin-bottom: 40px;
}

.blog-listing-inner:hover {
  box-shadow: 0px 0px 22px rgba(0,0,0,0.5);
}

.blog-listing-inner-img {
  margin-bottom: 10px;
}

.blog-listing-inner-img img {
  max-width: 100%;
  height: 160px;
  object-fit: cover;
}
.blog-listing-inner h3 {
  padding: 7px 10px 10px;
  color: #5d5850;
  font-size: 20px;
  font-weight: 600;
  margin: 0px;
}

.blog-listing-inner p {
  color: #5d5850;
  font-size: 14px;
  font-weight: 500;
  padding: 0px 10px;
}

.blog-listing-inner p a {
  color: #efc94c;
}

.our-blog-dates-inner {
  padding: 0px 10px;
}

.blog-details-inner .our-blog-dates-inner {
  padding: 0px;
  margin-bottom: 20px;
}

.our-blog-dates-inner ul {
  padding: 0px;
  margin: 0px 0px 10px;
  list-style: none;
}

.our-blog-dates-inner ul li {
  margin-right: 10px;
  display: inline-block;
  color: #efc94c;
  font-size: 14px;
  font-weight: 700;
}

.our-blog-dates-inner ul li i {
  margin-right: 5px;
}

.blog-listing {
  margin: 40px 0px;
}

.blog-listing a:hover {
  text-decoration: none;
}

nav .pagination {
  justify-content: center;
}

nav .page-item.active .page-link {
  z-index: 1;
  color: #5d5850;
  background-color: #efc94c;
  border-color: #efc94c;
}

nav .page-link {
  padding: 10px 15px;
  font-size: 14px;
  color: #5d5850;
  background-color: #fff;
  border: 1px solid #5d5850;
}

nav .page-link:hover {
  color: #5d5850;
  text-decoration: none;
  background-color: #efc94c;
  border-color: #efc94c;
}

.our-causes-listing .row {
  background: #f9f9f9;
  padding: 25px 10px 25px 10px;
  margin-top: 35px;
}

.our-causes-listing {
  padding: 0px 0px 30px;
}

.our-causes-listing-img img {
  width: 100%;
}

.our-causes-listing-inner h3 {
  padding: 0px 0px 10px;
  color: #5d5850;
  font-size: 20px;
  font-weight: 600;
  margin: 0px;
}

.our-causes-listing-inner p {
  color: #5d5850;
  font-size: 14px;
  font-weight: 500;
  padding: 0px;
}

.our-causes-tag {
  padding: 0px;
}

.our-causes-tag ul {
  padding: 0px;
  margin: 0px 0px 10px;
  list-style: none;
}

.our-causes-tag ul li {
  margin-right: 10px;
  display: inline-block;
  color: #efc94c;
  font-size: 14px;
  font-weight: 700;
}

.our-causes-listing nav .pagination {
  justify-content: center;
  margin-top: 30px;
}

a.btn_donate_now_causes {
  background: var(--button-bg-color);
  color: #5d5850;
  font-size: 14px;
  width: 150px;
  height: 40px;
  font-weight: 500;
  line-height: 38px;
  display: inline-block;
  margin: 0px;
  border: 1px solid #efc94c;
  transition: all 0.3s ease-in-out;
  text-align: center;
}

a.btn_donate_now_causes:hover {
  background: #fff;
  color: #efc94c;
  text-decoration: none;
}

.our-causes-listing .row:nth-child(2n+2) .col-md-5 {
  order: 2;
}

.our-causes-listing .row:nth-child(2n+2) .col-md-7 {
  order: 1;
}

.get-in-touch {
  padding: 35px 0px 60px;
  text-align: center;
}

.top_head_get {
  width: 100%;
  margin-bottom: 50px;
}

.top_head_get h2 {
  text-transform: uppercase;
  color: #59534c;
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 15px;
}

.top_head_get h2 span {
  color: #efc94c;
}

.top_head_get p {
  color: #5d5d5d;
  font-size: 14px;
  font-weight: 500;
}

.get-touch-address i {
  color: #efc94c;
  margin-bottom: 10px;
  font-size: 60px;
}

.get-touch-address h3 {
  font-size: 18px;
  color: #5d5d5d;
  font-weight: 600;
  margin-bottom: 13px;
}

.get-touch-address p,
.get-touch-address p a {
  font-size: 14x;
  color: #5d5d5d;
  font-weight: 500;
  margin-bottom: 0px;
}

.leave-msg-form {
  text-align: center;
  background: #fafafa;
  padding: 35px 0px;
  margin-bottom: 35px;
}

.contact-form .form-group {
  margin-bottom: 20px;
}

.contact-form input.form-control {
  border: 1px solid #c9c9c9;
  border-radius: 10px;
  height: 65px;
  padding: 20px;
  font-size: 16px;
  color: #59534c;
}

.contact-form input.form-control::-webkit-input-placeholder {
  color: #59534c;
}

.contact-form input.form-control::-moz-placeholder {
  color: #59534c;
}

.contact-form input.form-control:-ms-input-placeholder {
  color: #59534c;
}

.contact-form input.form-control:-moz-placeholder {
  color: #59534c;
}

.contact-form textarea.form-control {
  border: 1px solid #c9c9c9;
  border-radius: 10px;
  height: 235px;
  padding: 20px;
  font-size: 16px;
  color: #59534c;
  resize: none;
}

.contact-form textarea.form-control::-webkit-input-placeholder {
  color: #59534c;
}

.contact-form textarea.form-control::-moz-placeholder {
  color: #59534c;
}

.contact-form textarea.form-control:-ms-input-placeholder {
  color: #59534c;
}

.contact-form textarea.form-control:-moz-placeholder {
  color: #59534c;
}

.contact-form input.btn-submit {
  background: #efc94c;
  color: #fff;
  border: 1px solid #efc94c;
  font-size: 18px;
  padding: 0px;
  width: 160px;
  margin-top: 10px;
  height: 45px;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  border-radius: 0px;
}

.contact-form input.btn-submit:hover {
  background: #fff;
  color: #efc94c;
  outline: none;
  border: 1px solid #efc94c;
}

.blog-details-inner {
  padding: 40px 0px;
}

.blog-details-img-top img {
  width: 100%;
  max-width: 100%;
}

.blog-details-inner-box h2 {
  margin: 20px 0px 10px;
  font-size: 28px;
  color: #000000;
  font-weight: 600;
}

.blog-details-inner-box p {
  color: #4b4b4b;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
}

.shop-inner-txt {
  margin-bottom: 35px;
  background: #f9f9f9;
  box-shadow: 0px 0px 3px rgba(0,0,0,0.5);
  transition: all 0.3s ease-in-out;
}

.shop-inner-txt:hover {
  box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}

.shop-inner-txt-img img {
  width: 100%;
  max-width: 100%;
}

.shop-inner-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.shop-inner-content h3 {
  margin: 0px;
  color: #5d5850;
  font-size: 20px;
  font-weight: 600;
}

.shop-inner-content p {
  margin: 0px;
  color: #efc94c;
  font-size: 14px;
  font-weight: bold;
}

.shop-inner-txt-img {
  position: relative;
}

.shop-donate {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: rgba(92,92,92,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.shop-inner-txt:hover .shop-donate {
  opacity: 1;
}
a.shop-donate-btn {
  background: var(--button-bg-color);
  color: #5d5850;
  font-size: 14px;
  font-weight: 500;
  width: 150px;
  height: 40px;
  transition: all 0.3s ease-in-out;
  text-align: center;
  line-height: 40px;
  border: 1px solid #efc94c;
}

a.shop-donate-btn:hover {
  background: #fff;
  color: #efc94c;
  text-decoration: none;
}

.shop-inner {
  margin: 35px 0px;
}

.blog-details-inner .our-blog-dates-inner ul li {
  color: #59524c;
}

.blog-details-inner .our-blog-dates-inner ul li span {
  color: #efc94c;
}

h2.comments-title {
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  color: #5d5850;
  margin-bottom: 15px;
}

li.comment {
  list-style: none;
}

.comment-author img {
  border: 4px solid #dedede;
  border-radius: 50%;
  width: 80px;
  margin-right: 15px;
  height: 80px;
  vertical-align: top;
}

.comment-author b {
  color: #5d5850;
  font-weight: normal;
  font-size: 18px;
  color: #666
}

.comment-author b a {
  color: #5d5850;
  text-transform: capitalize;
}

.comment-metadata {
  position: absolute;
  top: 0px;
  right: 55px;
}

footer.comment-meta {
  position: relative;
}

.comment-metadata a {
  color: #5a5a5a;
  font-size: 14px;
}

.comment-metadata a:hover {
  color: #5a5a5a;
  text-decoration: none;
}

.comment-content {
  padding-left: 100px;
  margin-top: -50px;
}

.comment-content p {
  color: #5a5a5a;
  font-size: 14px;
  margin-bottom: 10px;
  text-transform: capitalize;
}

li.comment article.comment-body {
  position: relative;
  border-bottom: 1px solid #dedede;
  padding: 25px 0px;
}

.reply {
  position: absolute;
  top: 25px;
  right: 0px;
}

.reply a.comment-reply-link {
  color: #efc94c;
  font-size: 14px;
  padding-left: 5px;
  position: relative;
}

.reply a.comment-reply-link:before {
  content: "/";
  position: absolute;
  top: -1px;
  color: #5a5a5a;
  left: -7px;
}

h3.comment-reply-title {
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  color: #5d5850;
  margin-bottom: 25px;
}

p.comment-notes,
p.comment-form-cookies-consent,
span.says {
  display: none;
}
p.form-submit {
  text-align: right;
  margin: 0px;
}

p.form-submit input.submit {
  background: #efc94c;
  color: #fff;
  padding: 9px 20px;
  border: 1px solid #efc94c;
  font-size: 15px;
  cursor: pointer;
  border-radius: 0px;
  transition: all 0.3s ease-in-out;
}

p.form-submit input.submit:hover {
  background: #fff;
  color: #efc94c;
}

.rest_commt_box {
  float: left;
  width: 50%;
}

.commt_box {
  float: right;
  padding-left: 25px;
  width: 50%;
}

.logged-in .commt_box {
  padding-left: 0;
  width: 100%;
}

p.comment-form-author label,
p.comment-form-email label,
p.comment-form-url label {
  display: none;
}

input.inpt_commnt {
  height: 50px;
  padding: 15px !important;
  color: #5d5850 !important;
  width: 100%;
  font-size: 15px;
}

textarea.inpt_commnt {
  height: 192px;
  padding: 15px !important;
  color: #5d5850 !important;
  width: 100%;
  font-size: 15px;
}

.top_banner_head_content {
  position: relative;
  z-index: 9;
}

.error-404 .page-content {
  display: none;
}

.error-404 header.page-header {
  text-align: center;
  font-size: 20px;
  text-transform: capitalize;
  font-family: 'Circular-Loom';
  font-weight: 600;/*height: 500px;*/
  padding-bottom: 150px;
  padding-top: 100px;
}

.woocommerce-cart header.entry-header {
  text-align: center;
}

.woocommerce-cart .entry-content {
  max-width: 1140px;
  margin: 0px auto;
}

td.product-name a {
  color: #222;
}

input#coupon_code {
  width: 110px;
}

.woocommerce-cart .woocommerce a.checkout-button {
  background-color: #f2cb4a !important;
  font-size: 18px !important;
}

.woocommerce-cart .woocommerce a.checkout-button:hover {
  background-color: #59534c !important;
}

.woocommerce-checkout article {/*max-width: 1140px;*/
  margin: 0px auto 50px;
}

a.showcoupon {
  color: #222;
}

.woocommerce-checkout .woocommerce #payment #place_order {
  background-color: #f2cb4a;
  font-size: 18px;
  padding: 13px 25px;
}

.woocommerce-checkout .woocommerce #payment #place_order:hover {
  background-color: #59534c;
}

a.woocommerce-privacy-policy-link {
  color: #222;
  text-transform: capitalize;
}

a.woocommerce-privacy-policy-link:hover {
  color: #f2cb4a;
}

.woocommerce-checkout .woocommerce .col2-set .col-1 {
  max-width: 49%;
  width: 49%;
}

.woocommerce-checkout .woocommerce .col2-set .col-2 {
  max-width: 49%;
  width: 49%;
}

.woocommerce-checkout .woocommerce form .form-row label {
  width: 100%;
  margin-bottom: 2px;
}

.woocommerce-checkout .woocommerce form .form-row input.input-text {
  height: 40px;
  padding: 10px;
}

span.woocommerce-input-wrapper {
  width: 100%;
}

.woocommerce-checkout .woocommerce form .form-row textarea.input-text {
  height: 150px;
  padding: 10px;
}

#customer_details {
  margin-bottom: 30px;
}

.woocommerce-checkout .woocommerce form .form-row .select2-container .select2-selection--single {
  height: 40px;
}

.woocommerce-checkout .woocommerce form .form-row .select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 40px;
  padding-left: 10px;
  font-size: 15px;
}

.woocommerce-checkout .woocommerce form .form-row .select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 40px;
}

.woocommerce-checkout .woocommerce form .form-row-first,
.woocommerce-checkout .woocommerce form .form-row-last {
  width: 48%;
}

.woocommerce-cart footer.entry-footer {
  max-width: 1140px;
  margin: 0px auto 20px;
}

.cart_totals h2 {
  text-transform: capitalize;
  font-size: 25px;
}

.woocommerce-checkout h3 {
  font-size: 25px;
}

.blog nav .page-numbers {
  padding: 10px 15px;
  font-size: 14px;
  color: #5d5850;
  background-color: #fff;
  border: 1px solid #5d5850;
  line-height: 1.25;
  display: inline-block;
  margin-left: -6px;
}

.blog .blog-listing nav {
  text-align: center;
  margin-bottom: 25px;
}

.blog nav .page-numbers.current,
nav .page-numbers:hover {
  background-color: #efc94c;
  border-color: #efc94c;
  color: #5d5850;
}

.blog nav .page-numbers:first-child {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.blog nav .page-numbers:last-child {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.our-causes-listing nav .page-numbers {
  padding: 10px 15px;
  font-size: 14px;
  color: #5d5850;
  background-color: #fff;
  border: 1px solid #5d5850;
  line-height: 1.25;
  display: inline-block;
  margin-left: -6px;
}

.our-causes-listing nav {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 45px;
}

.our-causes-listing nav .page-numbers.current,
nav .page-numbers:hover {
  background-color: #efc94c;
  border-color: #efc94c;
  color: #5d5850;
}

.our-causes-listing nav .page-numbers:first-child {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.our-causes-listing nav .page-numbers:last-child {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.woocommerce-shop .woocommerce ul.products li.product {
  margin-bottom: 30px;
  margin-right: 30px;
  background-color: #f9f9f9;
  transition: all 0.3s ease-in-out;
  height: 364px;
}

.woocommerce-shop .woocommerce ul.products li.product:hover {
  box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}

.woocommerce-shop .woocommerce-pagination ul.page-numbers {
  margin: 0px;
  border: medium none;
}

.woocommerce-shop .woocommerce-pagination ul.page-numbers .page-numbers.current,
.woocommerce-shop .woocommerce-pagination ul.page-numbers .page-numbers:hover {
  background-color: #efc94c;
  border-color: #efc94c;
  color: #5d5850;
}

.woocommerce-shop .woocommerce-pagination ul.page-numbers li:first-child .page-numbers {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.woocommerce-shop .woocommerce-pagination ul.page-numbers li:last-child .page-numbers {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.woocommerce-shop .woocommerce-pagination ul.page-numbers li {
  border: medium none;
}

.woocommerce-shop .woocommerce-pagination ul.page-numbers .page-numbers {
  padding: 10px 15px;
  font-size: 14px;
  color: #5d5850;
  background-color: #fff;
  border: 1px solid #5d5850;
  line-height: 1.25;
  display: inline-block;
  margin-left: -1px;
}

.woocommerce-shop .woocommerce-pagination ul.page-numbers .prev.page-numbers {
  margin-left: 0px;
}

.product_price {
  padding: 20px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product_price h2.woocommerce-loop-product__title {
  color: #5d5850;
  font-size: 18px !important;
  font-weight: 600;
  padding: 0px !important;
  margin: 0px !important;
}

.woocommerce-shop .woocommerce ul.products li.product .price {
  margin: 0px;
  color: #efc94c;
  font-size: 13px;
  font-weight: bold;
  text-align: right;
}

span.onsale {
  display: none;
}

.woocommerce-shop .woocommerce ul.products li.product .price ins {
  margin-top: 0px !important;
}

form.woocommerce-ordering {
  display: none;
}

.woocommerce-shop header.entry-header {
  text-align: center;
}

.woocommerce-shop .woocommerce ul.products li.product a img {
  margin: 0px;
  height: 300px !important;
}

.woocommerce-shop .woocommerce ul.products li.product .button {
  top: -15em;
  left: 4em;
  margin: 0px;
}

/*----------------------------------------------------*/
.woocommerce-message::before {
  color: #efc94c !important;
}

.woocommerce-message {
  border-top-color: #efc94c !important;
}

span.woocommerce-Price-amount.amount {
  color: #efc94c;
}

a.button.wp-element-button.product_type_simple.add_to_cart_button.ajax_add_to_cart {
  background: var(--button-bg-color);
  color: #5d5850;
  font-size: 14px;
  font-weight: 500;
  width: 150px;
  height: 40px;
  text-align: center;
  line-height: 24px;
  border: 1px solid #efc94c;
  border-radius: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.woocommerce-shop .woocommerce ul.products li.product:hover a.button.wp-element-button.product_type_simple.add_to_cart_button.ajax_add_to_cart {
  opacity: 1;
  visibility: visible;
}

.woocommerce-shop .woocommerce ul.products li.product a.button.wp-element-button.product_type_variable.add_to_cart_button {
  background: var(--button-bg-color);
  color: #5d5850;
  font-size: 14px;
  font-weight: 500;
  width: 150px;
  height: 40px;
  text-align: center;
  line-height: 24px;
  border: 1px solid #efc94c;
  border-radius: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.woocommerce-shop .woocommerce ul.products li.product a.button.wp-element-button.product_type_variable.add_to_cart_button:hover {
  background: #fff;
  color: #efc94c;
  text-decoration: none;
}

.woocommerce-shop .woocommerce ul.products li.product:hover a.button.wp-element-button.product_type_variable.add_to_cart_button {
  opacity: 1;
  visibility: visible;
}

a.added_to_cart.wc-forward {
  background-color: #efc94c;
  border: 1px solid #efc94c;
  color: #666;
  width: 150px;
  text-align: center;
  padding: 8px 6px;
  left: 56px;
  right: 0;
  top: 150px;
  position: absolute;
  transition: all 0.3s ease-in-out;
}

.woocommerce-shop .woocommerce ul.products li.product a.added_to_cart.wc-forward:hover {
  background: #fff;
  color: #efc94c;
  text-decoration: none;
}

a.button.wp-element-button.product_type_simple.add_to_cart_button.ajax_add_to_cart:hover {
  background: #fff;
  color: #efc94c;
  text-decoration: none;
}

a.button.wc-forward.wp-element-button,
.single-product button.single_add_to_cart_button.button.alt.wp-element-button {
  background-color: var(--button-bg-color) !important;
  border: 1px solid #efc94c !important;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}

a.button.wc-forward.wp-element-button:hover,
.single-product button.single_add_to_cart_button.button.alt.wp-element-button:hover {
  background-color: #fff !important;
  color: #efc94c;
}

.woocommerce nav.woocommerce-pagination {
  text-align: center;
  margin-bottom: 35px;
}

/*----------------------------------------------------*/
.contact-form form label {
  display: none;
}

input.wpcf7-form-control.wpcf7-number.wpcf7-validates-as-required.wpcf7-validates-as-number {
  border: 1px solid #c9c9c9;
  border-radius: 10px;
  height: 65px;
  padding: 20px;
  font-size: 16px;
  color: #59534c;
  width: 100%;
}

.contact-form form input {
  width: 100%;
  border: 1px solid #c9c9c9;
  border-radius: 10px;
  height: 65px;
  padding: 20px;
  font-size: 16px;
  color: #59534c;
}

.contact-form form textarea {
  border: 1px solid #c9c9c9;
  border-radius: 10px;
  height: 235px;
  padding: 20px;
  font-size: 16px;
  color: #59534c;
  resize: none;
}

.contact-form form #edit-submit {
  margin: auto;
  background: #efc94c;
  color: #fff;
  border: 1px solid #efc94c;
  font-size: 18px;
  padding: 0px;
  width: 160px;
  margin-top: 0px;
  height: 45px;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  border-radius: 0px;
}

.contact-form form #edit-submit:hover {
  background: #fff;
  color: #efc94c;
  outline: none;
  border: 1px solid #efc94c;
}

span.wpcf7-form-control-wrap.recaptcha {
  margin-top: 18px;
  display: block;
}

table.variations td.value select {
  border: 1px solid #e7e7e7;
  height: 40px;
  margin-bottom: 10px;
  padding: 5px 10px;
}

table.variations td.value select:focus {
  outline: none;
}

span.posted_in a {
  color: #888;
  margin-right: 7px;
}

button.single_add_to_cart_button {
  padding: 12px 30px !important;
  clear: both;
  margin-top: 13px !important;
  font-size: 16px !important;
}

button.single_add_to_cart_button:focus {
  outline: none;
}

/*button.single_add_to_cart_button.disabled {border: 1px solid #efc94c !important;}*/
.woocommerce-Tabs-panel--description h2,
.woocommerce-Tabs-panel--additional_information h2 {
  font-size: 25px;
}

section.related.products h2 {
  margin-bottom: 20px;
}

.woocommerce .related ul.products li.product span.price {
  margin: 0px !important;
  color: #efc94c;
  font-size: 13px;
  font-weight: bold;
  text-align: right;
}

.single-product.woocommerce .related ul.products li.product .price ins {
  margin-top: 0px !important;
}

.single-product.woocommerce ul.products li.product {
  margin-bottom: 30px;
  margin-right: 30px;
  background-color: #f9f9f9;
  transition: all 0.3s ease-in-out;
  height: 364px;
}

.single-product.woocommerce ul.products li.product:hover {
  box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}

.single-product.woocommerce ul.products li.product a img {
  margin: 0px;
  height: 300px !important;
}

.single-product.woocommerce ul.products li.product:hover a.button.wp-element-button.product_type_simple.add_to_cart_button.ajax_add_to_cart {
  opacity: 1;
  visibility: visible;
}

.single-product.woocommerce .related ul.products li.product .button {
  top: -15em;
  left: 3.5em;
  margin: 0px;
}

.single-product.woocommerce .related ul.products li.product a.button.wp-element-button.product_type_variable.add_to_cart_button {
  background: var(--button-bg-color);
  color: #5d5850;
  font-size: 14px;
  font-weight: 500;
  width: 150px;
  height: 40px;
  text-align: center;
  line-height: 24px;
  border: 1px solid #efc94c;
  border-radius: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.single-product.woocommerce .related ul.products li.product:hover a.button.wp-element-button.product_type_variable.add_to_cart_button {
  opacity: 1;
  visibility: visible;
}

.single-product.woocommerce .related ul.products li.product a.button.wp-element-button.product_type_variable.add_to_cart_button:hover {
  background: #fff;
  color: #efc94c;
  text-decoration: none;
}

.single-product.woocommerce .related ul.products li.product a.added_to_cart.wc-forward {
  left: 50px;
}

.single-product.woocommerce .related ul.products {
  margin: 0px 0px 0px -15px;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li a:focus {
  outline: none;
}

a.reset_variations {
  color: #000;
}

.single-product .summary p.price {
  margin-bottom: 15px;
  color: #efc94c !important;
}

span.posted_in {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
}

a:focus {
  outline: none;
}

body .right_btn_donate .wp-block-buttons {
  display: inline-block !important;
}

.wp-block-gallery figure {
  margin-bottom: 10px !important;
}

.wp-block-gallery figure:last-child {
  padding-right: 0px;
}

iframe {
  margin-bottom: 15px;
}

a:focus,
a:hover {
  outline: none !important;
  text-decoration: none !important;
}

.logo a {
  color: #fff;
}

.logo a:hover {
  color: #fff;
  text-decoration: none;
}

.logo h1.site-title {
  margin: 0px;
  line-height: inherit;
}
/*.path-shop .views-view-grid li.product .price ins {margin-top: 0px !important;}
.path-shop .views-view-grid li.product {margin-bottom: 30px;margin-right: 30px;margin-top: 20px;background-color: #f9f9f9;transition: all 0.3s ease-in-out;height: 364px;}
.path-shop .views-view-grid li.product:hover {box-shadow: 0px 0px 10px rgba(0,0,0,0.5);}
.path-shop .views-view-grid li.product a img {margin: 0px !important;height: 300px !important;object-fit: cover;}
.path-shop .views-view-grid li.product:hover a.button.wp-element-button.product_type_simple.add_to_cart_button.ajax_add_to_cart {opacity: 1;visibility: visible;}
.path-shop .views-view-grid li.product span.price {margin: 0px !important;color: #efc94c;font-size: 13px;font-weight: bold;text-align: right;}
.path-shop .views-view-grid li.product .button {top: -15em;left: 4em;margin: 0px;}
.path-shop .views-view-grid li.product a.button.wp-element-button.product_type_variable.add_to_cart_button {background: var(--button-bg-color);color: #5d5850;font-size: 14px;font-weight: 500;width: 150px;height: 40px;text-align: center;line-height: 24px;border: 1px solid #efc94c;border-radius: 0;opacity: 0;visibility: hidden;transition: all 0.3s ease-in-out;}
.path-shop .views-view-grid li.product:hover a.button.wp-element-button.product_type_variable.add_to_cart_button {opacity: 1;visibility: visible;}
.path-shop .views-view-grid li.product a.button.wp-element-button.product_type_variable.add_to_cart_button:hover {background: #fff;color: #efc94c;text-decoration: none;}*/
.single-product button.single_add_to_cart_button.button.alt.wp-element-button.disabled:hover {
  background-color: #efc94c !important;
  color: #fff !important;
}

.single-product .woocommerce-variation-price {
  display: none;
}

.woocommerce.single-product div.product div.summary {
  margin-top: 3em;
}

.woocommerce.single-product div.product div.summary h2 {
  margin-top: 0px;
}

.woocommerce.single-product div.product div.summary h1.product_title {
  margin-bottom: 10px;
}

.archive h1.page-title {
  text-align: center;
}

.woocommerce.single-product div.product div.images.woocommerce-product-gallery {
  opacity: 1 !important;
  margin-top: 3em;
}

.woocommerce .quantity input.qty:focus {
  outline: none;
}

.woocommerce-cart .woocommerce-cart-form table.shop_table {
  margin-top: 40px !important;
}

.woocommerce-cart .woocommerce a.checkout-button.button.wc-forward.wp-element-button {
  background-color: var(--button-bg-color) !important;
  border: 1px solid #efc94c !important;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}

.woocommerce-cart .woocommerce a.checkout-button.button.wc-forward.wp-element-button:hover {
  background-color: #fff !important;
  color: #efc94c;
}

.woocommerce-checkout .woocommerce-info {
  line-height: 24px !important;
}

.slider-nav .item-slick {
  max-width: 240px;
  margin-right: 15px;
  outline: none !important;
  cursor: pointer;
  margin-top: 10px;
}

.slider-nav .item-slick img {
  max-width: 100%;
  background-size: cover;
  background-position: center;
}

.slider-nav button.slick-prev {
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translate(0%, -50%);
  -webkit-transform: translate(0%, -50%);
  z-index: 9;
  background: #efc94c;
  border: 1px solid #efc94c;
  color: #fff;
  cursor: pointer;
  padding: 6px 15px 7px;
}

.slider-nav button.slick-prev:hover {
  background: #fff;
  color: #efc94c;
}

.slider-nav button.slick-prev:focus {
  outline: none;
}

.slider-nav button.slick-next {
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translate(0%, -50%);
  -webkit-transform: translate(0%, -50%);
  z-index: 9;
  background: #efc94c;
  border: 1px solid #efc94c;
  color: #fff;
  cursor: pointer;
  padding: 6px 15px 7px;
}

.slider-nav button.slick-next:hover {
  background: #fff;
  color: #efc94c;
}

.slider-nav button.slick-next:focus {
  outline: none;
}

.slick-track {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.slider-nav .item-slick.slick-slide.slick-current img {
  border: 1px solid #534e4a;
}

.slider-nav .item-slick.slick-slide img {
  border: 1px solid #fff;
}

.woocommerce-checkout .woocommerce #payment #place_order:focus {
  outline: none;
}

.woocommerce-NoticeGroup-checkout ul.woocommerce-error li {
  margin-bottom: 5px;
}

.woocommerce-NoticeGroup-checkout ul.woocommerce-error li strong {
  text-transform: capitalize;
}

.blog-listing-inner h3 a {
  color: #5d5850;
}

.comments-area {
  border-top: 1px solid #dedede;
  padding-top: 25px;
  margin-top: 25px;
}

.share_social ul.ul_social {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.share_social ul.ul_social li:first-child {
  margin-right: 10px;
}

.share_social ul.ul_social li {
  display: inline-block;
  margin-right: 5px;
  font-size: 15px;
  color: #000;
}

.share_social ul.ul_social li a {
  background: #59534d;
  color: #fff;
  display: inline-block;
  width: 30px;
  text-align: center;
  height: 30px;
  border-radius: 50%;
  line-height: 30px;
  transition: all 0.3s ease-in-out;
}

.share_social ul.ul_social li a:hover {
  background: #efc94c;
  color: #fff;
  text-decoration: none;
}

.view_more_btn {
  text-align: center;
  width: 100%;
}

.home .our-blog .our-causes-top {
  display: inline-block;
}

.home .our-blog .blog-listing {
  margin: 0px 0px 40px;
  clear: both;
}

.col-md-3:nth-child(5n) .middle-content-text,
.col-md-3:nth-child(6n) .middle-content-text,
.col-md-3:nth-child(7n) .middle-content-text,
.col-md-3:nth-child(8n) .middle-content-text {
  margin-top: 25px;
}

.col-md-3:nth-child(4n) .middle-content-text {
  border-right: medium none;
}

.path-shop .views-view-grid .product .price ins {
  margin-top: 0px !important;
}

.path-shop .views-view-grid .product {
  margin-bottom: 20px;
  margin-right: 0px;
  margin-top: 20px;
  background-color: #f9f9f9;
  transition: all 0.3s ease-in-out;
  height: 376px;
  overflow: hidden;
}

.path-shop .views-view-grid .product:hover {
  box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}

.path-shop .views-view-grid .product a img {
  margin: 0px !important;
  height: 300px !important;
  object-fit: cover;
  width: 100%;
}

.path-shop .views-view-grid .product:hover a.button.wp-element-button.product_type_simple.add_to_cart_button.ajax_add_to_cart {
  opacity: 1;
  visibility: visible;
}

.path-shop .views-view-grid .product span.price {
  margin: 0px !important;
  color: #efc94c;
  font-size: 13px;
  font-weight: bold;
  text-align: right;
}

.path-shop .views-view-grid .product .button {
  top: -15em;
  left: 4em;
  margin: 0px;
}

.path-shop .views-view-grid .product a.button.wp-element-button.product_type_variable.add_to_cart_button {
  background: var(--button-bg-color);
  color: #5d5850;
  font-size: 14px;
  font-weight: 500;
  width: 150px;
  height: 40px;
  text-align: center;
  line-height: 24px;
  border: 1px solid #efc94c;
  border-radius: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.path-shop .views-view-grid .product:hover a.button.wp-element-button.product_type_variable.add_to_cart_button {
  opacity: 1;
  visibility: visible;
}

.path-shop .views-view-grid .product a.button.wp-element-button.product_type_variable.add_to_cart_button:hover {
  background: #fff;
  color: #efc94c;
  text-decoration: none;
}

.path-shop .views-view-grid .product a img.hover-img {
  opacity: 0;
  visibility: hidden;
}

.path-shop .views-view-grid {
  margin-bottom: 15px;
}

.path-shop .views-view-grid .product:hover a img.hover-img {
  opacity: 1;
  visibility: visible;
  transition: all 0.5s ease;
  transform: scale(1.05);
}

.path-shop .views-view-grid .product:hover a img.product_img_top {
  opacity: 0;
}

.path-shop .views-view-grid .product a img {
  transition: all 0.5s ease;
  display: block;
  max-width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.comment-form {
  margin-top: 30px;
}

h2.comments-wrapper-heading {
  font-size: 18px;
  color: #5a5a5a;
  text-transform: uppercase;
  margin-bottom: 15px;
  padding-right: 0;
}

.commentform-element {
  margin-bottom: 20px;
}

.commentform-element label.hide {
  display: none;
}

.commentform-element input[type="text"],
.commentform-element input[type="email"] {
  border: 1px solid #d4d4d4;
  height: 50px;
  padding: 10px 15px;
  width: 100%;
  border-radius: 0px;
}

.commentform-element input[type="text"]:focus,
.commentform-element input[type="email"]:focus {
  outline: none;
}

.commentform-element textarea {
  border: 1px solid #d4d4d4;
  height: 190px;
  padding: 10px 15px;
  width: 100%;
  resize: none;
  border-radius: 0px;
}

.commentform-element textarea:focus {
  outline: none;
}

form#commentform {
  display: inline-block;
  width: 100%;
}

.comment-form-right {
  float: right;
  width: 49%;
}

.logged-in .comment-form-right {
  width: 100%;
}

.comment-form-left {
  float: left;
  width: 49%;
}

.commentform-submit {
  clear: both;
}

.commentform-submit input.form-submit-button {
  float: right;
  background: #efc94c;
  border: 1px solid #efc94c;
  color: #fff;
  text-transform: uppercase;
  padding: 0px;
  width: 170px;
  height: 38px;
  border-radius: 0px;
  cursor: pointer;
}

.commentform-submit input.form-submit-button:hover {
  background: #fff;
  border: 1px solid #efc94c;
  color: #efc94c;
}

.commentform-submit input.form-submit-button:focus {
  outline: none;
  border: 1px solid #efc94c;
}

.product_inner_img1 {
  overflow: hidden;
  height: 300px;
}

.product_inner_img {
  overflow: hidden;
  height: 300px;
}

.accordion-list h6,
.tabs-list h6,
.alert-boxes-list h6,
.blockquotes-list h6,
.dropcaps-list h6,
.list-styles-list h6,
.info-boxes-list h6 {
  color: #000;
  font-size: 15px;
  margin-bottom: 15px;
  font-weight: 600;
}

.accordion .accordion-item {
  border-bottom: 1px solid #cbcbcb;
  padding: 10px 0px 10px 40px;
}

.accordion .accordion-item h2 button.accordion-button {
  display: inline-block;
  width: 100%;
  color: #efc94c;
  font-size: 15px;
  line-height: 25px;
  text-transform: capitalize;
  padding: 0px;
  background: transparent;
  border: medium none;
  text-align: left;
  position: relative;
  cursor: pointer;
}

.accordion .accordion-item h2 button.accordion-button:before {
  content: "\f068";
  position: absolute;
  top: 0px;
  background: #eee;
  left: -40px;
  font-family: 'FontAwesome';
  width: 24px;
  height: 24px;
  font-size: 12px;
  border-radius: 50%;
  text-align: center;
  color: #434343;
  line-height: 26px;
  cursor: pointer;
}

.accordion .accordion-item h2 button.accordion-button.collapsed:before {
  content: "\f067";
  position: absolute;
  top: 0px;
  background: #eee;
  left: -40px;
  font-family: 'FontAwesome';
  width: 24px;
  height: 24px;
  font-size: 12px;
  border-radius: 50%;
  text-align: center;
  color: #434343;
  line-height: 26px;
  cursor: pointer;
}

.accordion .accordion-item h2 {
  line-height: 25px;
  margin-bottom: 3px;
}

.accordion-body {
  font-size: 13px;
  font-weight: 500;
  color: #aaa;
}

.accordion .accordion-item:first-child {
  border-top: 1px solid #cbcbcb;
}

button:focus {
  outline: none !important;
}

.tabs-list .nav-tabs {
  border-bottom: 1px solid #dfdfdf;
  margin-left: 0px;
}

.tabs-list .nav-tabs .nav-link {
  border: 1px solid #dfdfdf;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  color: #969696;
  margin-left: -1px;
  font-size: 14px;
  background: #f8f8f8;
  font-weight: 500;
}

.tabs-list .nav-tabs .nav-item.show .nav-link,
.tabs-list .nav-tabs .nav-link.active {
  color: #efc94c;
  background-color: #fff;
  border-top: 1px solid #54babb;
  border-bottom: 1px solid #fff;
}

.tabs-list .tab-pane {
  padding: 20px;
  font-size: 14px;
  color: #aaa;
  line-height: 20px;
}

.tabs-list .tab-content {
  border: 1px solid #dfdfdf;
  border-top: medium none;
  margin-left: -1px;
}

.alert-boxes-list .alert {
  border-radius: 0px;
  font-size: 14px;
}

.alert-boxes-list .alert-dismissible {
  padding-right: 3rem;
}

.blockquotes-list blockquote {
  width: 100%;
  margin-left: 0px;
  border-left: medium none;
  background: #f8f8f8;
  color: #aaa;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  padding-top: 30px;
}

.blockquotes-list blockquote::before {
  color: #aaa;
  left: 40px;
  top: -15px;
  font-size: 6em;
}

.blockquotes-list blockquote span {
  color: #aaa;
  margin-top: 5px;
}

.dropcaps-list .drop-cap {
  font-size: 15px;
  width: 100%;
  margin: 0 auto;
  color: #aaa;
  font-weight: 500;
}

.list-styles-list ul.list-group {
  margin: 0px;
}

.list-styles-list ul.list-group li.list-group-item {
  border: medium none;
  border-bottom: 1px solid #cbcbcb;
  margin-bottom: 0px;
  font-size: 14px;
  color: #969696;
  padding-top: 5px;
  font-weight: 500;
  padding-bottom: 5px;
  padding-right: 0px;
  padding-left: 0px;
  border-radius: 0px;
}

.list-styles-list ul.list-group li.list-group-item i {
  font-size: 16px;
  color: #efc94c;
  margin-right: 5px;
  width: 15px;
  text-align: center;
}

.info-boxes-list .card {
  background-color: #fbfbfb;
  border: 1px solid #cbcbcb;
  border-radius: 0px;
}

.info-boxes-list .card .card-body {
  padding: 20px 30px;
}

h5.card-title {
  color: #000;
  font-size: 18px;
  margin-bottom: 13px;
  font-weight: 600;
}

.info-boxes-list a.btn_check_causes {
  text-align: center;
  width: 140px;
  height: 35px;
  text-transform: uppercase;
  line-height: 35px;
  font-size: 15px;
}

.thrd_btn {
  margin-bottom: 30px;
}

.med_btn {
  margin-bottom: 30px;
}

.top-btn {
  margin-top: 30px;
  margin-bottom: 30px;
}

.top-btn a.btn {
  color: #fff;
  text-transform: uppercase;
  padding: 8px 20px;
  background-color: #efc94c;
  margin-right: 18px;
}

.thrd_btn a.btn {
  color: #fff;
  text-transform: uppercase;
  padding: 10px 30px;
  background-color: #efc94c;
}

.med_btn .btn-outline-warning {
  border-radius: 30px;
  padding: 8px 20px;
  background-color: transparent;
}

.med_btn .btn-outline-warning:hover {
  color: #fff;
  background-color: #efc94c;
}

.top-btn a.btn+a.btn {
  border-radius: 30px;
}

.med_btn a.btn {
  margin-right: 18px;
}

.med_btn a.btn:first-child {
  margin-right: 18px;
  padding: 9px 25px;
  background-color: #efc94c;
  border-color: #efc94c;
}

.alert-boxes-list .alert-dismissible .close {
  padding: .75rem 1rem;
}

.single_prod ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
  display: flex;
  column-gap: 10px;
  row-gap: 10px;
  flex-wrap: wrap;
}

.single_prod ul li:first-child {
  width: 100%;
}

.single_prod ul li {
  display: inline-block;
  width: calc(50% - 10px / 2);
  margin-bottom: 0px;
}

.single_prod ul li:first-child img.modal-toggle {
  height: 420px;
}

.single_prod ul li img.modal-toggle {
  width: 100%;
  object-fit: cover;
  height: 220px;
}

.single_prod #basicModal ul li img.modal-toggle {
  height: auto;
}

.single_prod .modal ul {
  display: inline-block;
}

.single_prod .modal ul li {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.single_prod #basicModal {
  padding-right: 0px !important;
}

.single_prod .modal .modal-dialog {
  max-width: 100%;
  padding: 80px 30px 30px;
  background: #fff;
  margin: 0px auto;
}

.single_prod .modal .modal-dialog .modal-content {
  border: medium none;
}

.single_prod .modal .modal-dialog .modal-header {
  border: medium none;
  padding: 0px;
}

.single_prod .modal .modal-dialog button.close {
  padding: 0px;
  margin: 0px;
  position: absolute;
  top: -58px;
  right: 0px;
  border: 1px solid #d7d7d7;
  width: 50px;
  height: 50px;
  color: #545454;
  border-radius: 50%;
}

.page-id-200 .wp-block-columns {
  margin-bottom: 50px;
}
.single_prod {
  margin-top: 50px;
}

section.related.products {
  margin-top: 40px;
  margin-bottom: 50px;
}

.single-product.woocommerce .product.product_cat-category,
.tax-product_cat.woocommerce .product.product_cat-category {
  margin-bottom: 20px;
  margin-right: 0px;
  margin-top: 20px;
  background-color: #f9f9f9;
  transition: all 0.3s ease-in-out;
  height: 376px;
  overflow: hidden;
}

.product.product_cat-category .button {
  top: -15em;
  left: 4em;
  margin: 0px;
}

.product.product_cat-category a img {
  transition: all 0.5s ease;
  display: block;
  max-width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0px !important;
  height: 300px !important;
  object-fit: cover;
}

.product.product_cat-category a img.hover-img {
  opacity: 0;
  visibility: hidden;
}

.product.product_cat-category:hover a img.product_img_top {
  opacity: 0;
}

.product.product_cat-category:hover a img.hover-img {
  opacity: 1;
  visibility: visible;
  transition: all 0.5s ease;
  transform: scale(1.05);
}

.product.product_cat-category:hover a.button.wp-element-button.product_type_simple.add_to_cart_button.ajax_add_to_cart {
  opacity: 1;
  visibility: visible;
}

.product.product_cat-category:hover {
  box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}

.single-product.woocommerce .product.product_cat-category span.price,
.tax-product_cat.woocommerce .product.product_cat-category span.price {
  margin: 0px !important;
  color: #efc94c;
  font-size: 13px;
  font-weight: bold;
  text-align: right;
}

.product.product_cat-category .price ins {
  margin-top: 0px !important;
}

.tax-product_cat .top_banner_head {
  margin-bottom: 50px;
}

.tax-product_cat .footer_section {
  margin-top: 50px;
}

.recaptcha .wpcf7-not-valid-tip {
  margin-top: 5px;
}

.error-404 header.page-header span {
  display: block;
  font-weight: 800;
  font-size: 60px;
}

.quantity {
  margin: 0px 0px 10px !important;
}

.quantity label.screen-reader-text {
  height: auto !important;
  font-size: 16px !important;
  clip: inherit !important;
  margin: 0px 0px 5px !important;
  overflow: inherit !important;
  position: inherit !important;
  width: auto !important;
  display: block;
  color: #404040;
  clip-path: inherit;
}

input.qty_button.minus {
  width: 45px;
  height: 45px;
  border: 1px solid #29292a;
  background: transparent;
  cursor: pointer;
  border-radius: 0px;
  padding: 0px 0px;
  border-right: medium none;
  font-size: 30px;
  vertical-align: middle;
}

input.qty_button.plus {
  width: 45px;
  height: 45px;
  line-height: 35px;
  border: 1px solid #29292a;
  background: transparent;
  cursor: pointer;
  border-radius: 0px;
  padding: 0px 0px;
  border-left: medium none;
  font-size: 25px;
  vertical-align: middle;
  margin-left: -4px;
}

.quantity .qty {
  width: 55px !important;
  height: 45px;
  vertical-align: middle;
  border: 1px solid #29292a;
  border-left: medium none;
  border-right: medium none;
  border-radius: 0px;
  color: #29292a;
  margin-left: -4px;
}

input.qty_button.minus:hover,
input.qty_button.minus:focus {
  border: 1px solid #29292a;
  border-right: medium none;
}

input.qty_button.plus:hover,
input.qty_button.plus:focus {
  border: 1px solid #29292a;
  border-left: medium none;
}

/* 02-05-23 */

section#main-wrapper-front .row {
  margin: 0;
}

section#main-wrapper-front > .row > div {
  padding: 0;
}

.top_bar a.cart-block--link__expand {
  width: 145px;
  height: 32px;
  text-align: center;
  line-height: 32px;
  border: 1px solid #efc94c;
  transition: all 0.3s ease-in-out;
  border-radius: 0px;
  background: #efc94c;
  color: #fff;
  text-transform: uppercase;
  display: block;
  font-size: 14px;
  margin-left: auto;
}

/*a.cart-block--link__expand:hover{background: transparent; color: #efc94c;}*/

nav ul.navbar-nav li a {
  color: #fff !important;
  font-size: 16px;
  padding: 0 0px 0px !important;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
  border-bottom: 2px solid transparent;
}

ul.menu li.current_page_item a,
ul.menu li a:hover {
  border-bottom: 2px solid #fff;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: #fff !important;
}

.logo a.navbar-brand {
  padding: 0;
  margin: 0;
}


/* main-banner */
.region.region-slider {
  position: relative;
}

.region.region-slider:before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  background: rgb(126 124 124 / 20%);
}

.region-slider .views_slideshow_cycle_main {
  height: 664px;
}

.region-slider .views_slideshow_cycle_teaser_section {
  width: 100% !important;
  height: 100% !important;
}

.region-slider .views_slideshow_cycle_slide {
  width: 100% !important;
  height: 664px !important;
}

.region.region-slider img {
  width: 100%;
}

.region-slider .views-row.views-row-0.views-row-odd.views-row-first {
  position: relative;
}

.region-slider .views-field.views-field-field-link {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  text-align: center;
  transform: translateY(-50%);
}
.region-slider .views-field.views-field-field-link a {
  text-align: center;
  line-height: 32px;
  border: 1px solid #efc94c;
  padding: 9px 25px;
  transition: all 0.3s ease-in-out;
  border-radius: 0px;
  background: #efc94c;
  color: #fff;
  display: block;
  font-size: 16px;
  width: max-content;
  margin: auto;
}

.region-slider .views-field.views-field-field-link a:hover {
  background: #fff;
  color: #efc94c;
  transition: all 0.3s ease-in-out;
}

.region-slider .slider_content h1 {
  font-family: 'CHILLER';
  color: #fff;
  font-size: 75px;
  -webkit-text-stroke: medium;
  line-height: 80px;
  letter-spacing: 3px;
  text-shadow: 5px 5px 5px #000;
  text-transform: uppercase;
  width: 28%;
  margin: 0 auto 25px;
}

h4.title,
.our-causes-top h1 {
  color: #5d5850;
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 45px;
  text-align: center;
  position: relative;
  text-transform: uppercase;
}

h4.title:before,
.our-causes-top h1:before {
  content: "";
  position: absolute;
  bottom: -30px;
  left: 50%;
  background: url(../images/heading-shape.png);
  background-repeat: no-repeat;
  background-position: center center;
  width: 201px;
  height: 22px;
  margin-left: -100px;
}

.our-causes-top .clearfix.text-formatted {
  text-align: center !important;
  padding-bottom: 10px;
}

.our-causes-list .views-field-title a {
  display: block;
  margin-bottom: 5px;
}

.our-causes-list p {
  height: 85px;
  overflow: hidden;
}

.our-causes-top {
   text-align: center;
     padding: 15px;
   }

.our-causes-list.views-field.views-field-title span.field-content {
  display: block;
  height: 65px;
  margin-bottom: 10px;
  overflow: hidden;
}

.our-causes-list .views-field.views-field-created {
  float: left;
  display: inline-block;
  width: 50%;
  padding-left: 10px;
  color: #efc94c;
  margin-bottom: 20px;
  font-size: 14px;
}

.our-causes-list .views-field.views-field-comment-count {
  float: right;
  width: 50%;
  text-align: end;
  padding-right: 10px;
  color: #efc94c;
  margin-bottom: 20px;
  font-size: 14px;
}

.view_more_btn a.btn-read-more {
  font-size: 14px;
  border: 1px solid #efc94c;
  width: 150px;
  height: 40px;
  line-height: 40px;
  transition: all 0.3s ease-in-out;
  display: inline-block;
  font-weight: 600;
  background: #efc94c;
  color: #ffff;
}

.view-footer .view_more_btn {
  margin: 40px 0 40px;
}

.view_more_btn a.btn-read-more:hover {
  color: #efc94c;
  transition: all 0.3s ease-in-out;
  background: #fff;
}

.our-causes-list img {
  height: 175px;
  width: 100%;
  object-fit: cover;
}

.our-causes-list {
  height: 100%;
  padding-bottom: 20px;
}

.our-causes-list p a {
  color: #efc94c;
}

.views-field.views-field-title span.field-content {
  display: block;
  height: 77px;
  overflow: hidden;
}

.region.region-content .block-system-main-block .field__item img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

/*.region.region-content {
  padding: 0 11rem;
 }*/

.region.region-content .block-system-main-block .field__label {
  display: none;
  background: transparent;
}

.region.region-bread-crumb {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 100px;
  left: 0;
  z-index: 9;
}

h3.page-title {
  color: #fff;
  background-color: none;
  font-weight: 600;
  font-size: 51px;
  margin-bottom: -13px;
  margin-top: 0px;
}

div#block-pachu-breadcrumbs {
  background: transparent;
}

nav.breadcrumb {
  background: transparent;
}

nav.breadcrumb ol {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

nav.breadcrumb ol li {
  font-size: 16px;
  color: #fff;
  list-style: none;
  margin: 0 6px;
}

nav.breadcrumb ol li a {
  color: #fff;
}

section#main-wrapper {
  padding-top: 0 !important;
}

.block-views.block-views-blockblogs-block-1 {
  padding: 50px 0;
}

div#main {
  margin: 0;
}
div#main > div#content {
  padding: 0;
}

.view-id-couses_page ul {
  margin: 0;
  padding: 0;
}

.view-id-couses_page ul li {
  padding: 0;
  margin: 50px 0;
  list-style: none;
}

.view-id-couses_page ul li img {
  width: 100%;
}

.our-causes-listing-inner h3 a {
  color: #5d5850;
}
.view-id-couses_page .our-causes-tag li {
  margin: 0;
  margin-right: 20px;
}

.view-id-couses_page ul li:nth-child(even) .col-md-5 {
  order: 2;
}
.view-id-couses_page ul li:nth-child(even) .col-md-7 {
  order: 1;
}
.page-wrapper *:focus,
*:focus,
.ui-dialog *:focus {
  outline: var(--focus-outline);
  box-shadow: none;
}

.pager__item--current {
  background: #efc94c;
}

ul.pager__items.js-pager__items {
  margin: 50px 0;
}

li.pager__item.pager__item--mini {
  margin: 0;
  border-radius: 0;
  border: 1px solid #efc94c;
  margin: 0 3px;
}

.pager__link--mini {
  border-radius: 0;
  height: 1.9rem;
}

.view-shop .our-causes-list {
  height: auto;
  padding-bottom: 0;
  margin-bottom: 30px;
  box-shadow: none;
}

.view-shop .views-field.views-field-variations-target-id {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  display: none;
}

.view-shop .our-causes-list:hover {
  box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}

.view-shop .our-causes-list:hover .views-field.views-field-variations-target-id {
  display: block;
}

.view-shop .form-actions .button {
  background: #efc94c;
  color: #fff;
  font-size: 14px;
  border: 1px solid #efc94c;
  width: 150px;
  height: 40px;
  line-height: 40px;
  transition: all 0.3s ease-in-out;
  display: inline-block;
  font-weight: 600;
  border-radius: 0;
  padding: 0 !important;
  margin: 0;
}

.view-shop .form-actions .button:hover {
  background: #fff;
  color: #efc94c;
  transition: all 0.3s ease-in-out;
}

.view-shop {
  padding: 60px 0 0;
}

.view-related-product .our-causes-list {
  height: auto;
  padding-bottom: 0;
  margin-bottom: 30px;
  box-shadow: none;
}

.view-related-product .views-field.views-field-variations-target-id {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  display: none;
}

.view-related-product .our-causes-list:hover {
  box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}

.view-related-product .our-causes-list:hover .views-field.views-field-variations-target-id {
  display: block;
}

.view-related-product .form-actions .button {
  background: #efc94c;
  color: #fff;
  font-size: 14px;
  border: 1px solid #efc94c;
  width: 150px;
  height: 40px;
  line-height: 40px;
  transition: all 0.3s ease-in-out;
  display: inline-block;
  font-weight: 600;
  border-radius: 0;
  padding: 0 !important;
  margin: 0;
}

.view-related-product .form-actions .button:hover {
  background: #fff;
  color: #efc94c;
  transition: all 0.3s ease-in-out;
}

.view-related-product {
  padding: 15px 0 30px;
}

.product.product_cat-category a img {
  position: initial;
}

span.price {
  font-size: 14px;
}

.top_banner_head {
  z-index: -1;
  height: 300px;
}

s,
strike,
del {
  color: #efc94c;
}
.product.product_cat-category .price ins {
  background: transparent;
  font-weight: bold;
}

.view-blogs .our-causes-list {
  height: auto;
  padding-bottom: 0px;
  margin-bottom: 30px;
}

.contact-form form {
  max-width: 40%;
}

.contact-message-contact-us-form {
  margin-bottom: 70px;
}

.get-in-touch {
  padding: 35px 0px 90px;
}

/* page */

.clearfix.text-formatted.text-justify.field.field--name-body.field--type-text-with-summary.field--label-hidden.field__item > .entry-content {
  max-width: 1170px !important;
  padding-left: 15px;
  padding-right: 15px;
  margin: 40px auto;
}

.accordion {
  box-shadow: none;
  border: none;
}

h2.has-text-align-center.wp-block-heading {
  text-align: center;
}

.info-boxes-list .card {
  box-shadow: none;
}

.clearfix.text-formatted.text-justify.field.field--name-body.field--type-text-with-summary.field--label-hidden.field__item > .entry-content .row {
  margin-bottom: 40px;
}

/* product page details */
.field.field--name-field-product-image .field__item:nth-child(1) {
  width: 100%;
}

.field.field--name-field-product-image .field__item {
  width: 50%;
  float: left;
  padding: 5px;
}

.block-views-blockrelated-product-block-1 {
  margin-top: 60px;
}

.block-views-blockrelated-product-block-1 h4.title:before {
  display: none;
}
.block-views-blockrelated-product-block-1 h4.title {
  text-align: left;
  margin: 0 auto 20px;
  max-width: 1170px !important;
  text-transform: capitalize;
  padding: 0 15px;
}

.path-product .top_banner_head {
  margin-bottom: 50px;
}

.node__submitted {
  display: none;
}

/* cart */

.cart.cart-form {
  max-width: 1140px !important;
  padding-right: 15px;
  padding-left: 15px;
  margin: 50px auto 0;
}

.delete-order-item {
  background: #efc94c !important;
  border: 1px solid #efc94c !important;
  color: #fff !important;
  transition: 0.3s;
  padding: 10px 15px !important;
  border-radius: 0 !important;
}

.delete-order-item:hover {
  background: #fff !important;
  border: 1px solid #efc94c !important;
  color: #efc94c !important;
  transition: 0.3s;
}

.view-commerce-cart-form .form-submit {
  background: #efc94c !important;
  border: 1px solid #efc94c !important;
  color: #fff !important;
  transition: 0.3s;
  padding: 10px 15px !important;
  border-radius: 0 !important;
}

.view-commerce-cart-form .form-submit:hover {
  background: #fff !important;
  border: 1px solid #efc94c !important;
  color: #efc94c !important;
  transition: 0.3s;
}

.commerce-checkout-flow {
  max-width: 1140px !important;
  margin: 50px auto 50px;
}

.form-element:hover:focus {
  box-shadow: none !important;
}

.btn-primary {
  background: #efc94c !important;
  border-radius: 0;
  border: 1px solid #efc94c !important;
  color: #fff !important;
  padding: 10px 15px !important;
}

.btn-primary:hover {
  background: #fff !important;
  border: 1px solid #efc94c !important;
  color: #efc94c !important;
  transition: 0.3s;
}

.commerce-checkout-flow .form-item input,
.commerce-checkout-flow .form-item select {
  height: auto;
  padding: 7px 15px;
  min-height: auto;
  width: 100%;
}

.commerce-checkout-flow .form-item label {
  display: block;
}

.commerce-checkout-flow .form-item {
  margin: 15px 0;
}

.commerce-checkout-flow .form-actions {
  display: flex;
  align-items: center;
}

.commerce-checkout-flow .js-form-item-payment-information-billing-information-address-0-address-given-name {
  width: 49%;
  margin-right: 7px;
}

.commerce-checkout-flow .js-form-item-payment-information-billing-information-address-0-address-family-name {
  width: 49%;
}

.commerce-checkout-flow .js-form-item-payment-information-billing-information-address-0-address-locality {
  width: 49%;
  margin-right: 7px;
}

.commerce-checkout-flow .js-form-item-payment-information-billing-information-address-0-address-postal-code {
  width: 49%;
}


.field--name-list-price .field__item {
  color: #efc94c;
}

ins {
  font-weight: bold;
}

/**/

form.user-login-form,
.user-register-form,
.user-pass {
  max-width: 600px !important;
  margin: 50px auto 0;
  padding: 0 15px;
}

form.user-login-form label,
.user-register-form label,
.user-pass label {
  display: block;
}

form.user-login-form input,
.user-register-form input,
.user-pass input {
  width: 100%;
  padding: 8px 15px;
  height: auto;
  min-height: auto;
  font-size: 14px;
}

form.user-login-form input.form-checkbox,
.user-register-form input.form-checkbox,
.user-pass input.form-checkbox {
  width: 18px;
  padding: initial;
  height: 18px;
}

.claro-details__summary:focus::after {
  opacity: 0;
}

section#not-found-section .row {
  justify-content: center;
  margin: 50px 0;
}

.page-node-type-causes article .clearfix.text-formatted.text-justify.field.field--name-body.field--type-text-with-summary {
  margin: 50px auto 0;
}

.region-content #block-innerpageheaderimage img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.page-node-type-causes .block-system-main-block article .container {
  margin-bottom: 50px;
}

.page-node-type-causes .block-system-main-block article .container span {
  color: #efc94c;
  margin-right: 10px;
}

.page-node-type-article article .container span {
  color: #efc94c;
  margin-right: 10px;
}

.page-node-type-article article .container {
  margin-top: 50px;
  margin-bottom: 50px;
}

section.field.field--name-comment.field--type-comment.field--label-above.comment-wrapper {
  margin-top: 50px;
}

section.field.field--name-comment.field--type-comment.field--label-above.comment-wrapper h2.title {
  font-size: 30px;
  margin-bottom: 0;
  padding: 0;
}

.comment.js-comment.by-node-author .container {
  margin: 15px 0 !important;
  padding: 0;
  border-bottom: 1px solid #ccc;
  padding-bottom: 22px;
  margin-bottom: 30px !important;
}

.comment.js-comment.by-node-author .container .col-lg-3,
.comment.js-comment.by-node-author .container .col-lg-9 {
  flex: 0 0 100%;
  max-width: 100%;
}

.comment.js-comment.by-node-author .container p.comment__submitted {
  margin-bottom: 7px;
  font-size: 14px;
}

.comment.js-comment.by-node-author footer.comment__meta a {
  color: #efc973;
}

.comment.js-comment.by-node-author .content h3 {
  font-size: 18px;
  margin-bottom: 5px;
}

.comment.js-comment.by-node-author .content .clearfix.text-formatted p {
  font-size: 16px;
  margin-bottom: 10px;
}

.comment.js-comment.by-node-author ul.links.inline a {
  color: #efc94c;
}

.comment.js-comment.by-node-author ul.links.inline {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  display: flex;
  justify-content: end;
}
.comment.js-comment.by-node-author ul.links.inline li {
  margin: 0;
  padding: 0;
}

.cart-block--contents {
  width: 100% !important;
}

.cart-block--contents__links a {
  color: #303030 !important;
  font-weight: bold;
  text-decoration: underline;
}

@media(max-width: 1400px) {

  .region-slider .views_slideshow_cycle_main {
    height: 500px;
  }

  .region-slider .slider_content h1 {
    font-size: 66px;
    line-height: 74px;
    letter-spacing: 1px;
    width: 30%;
    margin: 0 auto 20px;
  }
  .region-slider .views_slideshow_cycle_slide {
    height: 500px !important;
  }
  .contact-form form {
    max-width: 55% !important;
    margin: auto;
  }
}


@media (max-width: 767px) {

  .col-md-3:nth-child(5n) .middle-content-text,
  .col-md-3:nth-child(6n) .middle-content-text,
  .col-md-3:nth-child(7n) .middle-content-text,
  .col-md-3:nth-child(8n) .middle-content-text {
    margin-top: 0px;
  }

  .error-404 h1.page-title {
    font-size: 25px;
  }

  .error-404 header.page-header span {
    font-size: 50px;
  }

  .error-404 header.page-header {
    padding-bottom: 70px;
    padding-top: 25px;
  }

  .single_prod .modal .modal-dialog {
    max-width: 100%;
    padding: 80px 15px 10px;
  }

  .product.product_cat-category .button {
    left: 7em;
  }

  .blockquotes-list blockquote {
    padding: 30px 20px 20px 50px;
  }

  .blockquotes-list blockquote::before {
    left: 16px;
    top: -16px;
  }

  .list-styles-list ul.list-group li.list-group-item {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .list-styles-list ul.list-group li.list-group-item i {
    margin-top: 3px;
  }

  .path-shop .views-view-grid .product .button {
    left: 7em;
  }

  .single_prod ul li img.modal-toggle {
    height: 170px;
  }

  .single_prod ul li:first-child img.modal-toggle {
    height: 250px;
  }

  .slider_content img {
    max-width: 100%;
  }

  .wp-block-social-links.is-style-logos-only .wp-social-link {
    margin-right: 0px;
  }

  .left_top ul+ul {
    margin-top: 10px;
    margin-left: 0px;
  }

  .left_top ul {
    display: inline-block;
    text-align: center;
    width: 100%;
  }

  ul.navbar-nav  li {
    margin-left: 0px;
    display: block;
  }

  ul.navbar-nav  li a {
    padding: 13px 15px 3px;
    display: block;
    text-align: left;
  }

  .navbar-nav  ul li {
    margin-left: 0px;
    display: block;
  }

  .navbar-nav  ul li a {
    padding: 13px 15px 3px;
    display: block;
    text-align: left;
  }

  .slider_content h1 {
    font-size: 50px;
    line-height: 65px;
  }

  .our-causes-top p {
    max-width: 100%;
  }

  #block-pachu-content .view .view-frontpage{
    text-align:center;
	
  }
  .our-causes-top{
	  text-align: center;
    padding: 15px;
  }

  a.added_to_cart.wc-forward {
    left: 6.1em;
  }

  .footer_social_icon ul {
    justify-content: center;
  }

  .footer_social_icon ul li {
    margin-left: 0px;
  }

  ol.comment-list {
    margin-left: 0px;
    padding-left: 0px;
  }

  .comment-author img {
    border: 2px solid #dedede;
    width: 40px;
    margin-right: 5px;
    height: 40px;
  }

  .comment-author b {
    font-size: 14px;
  }

  .comment-metadata a {
    font-size: 13px;
  }

  .reply a.comment-reply-link {
    border-left: medium none;
    font-size: 13px;
    padding-left: 0px;
  }

  .comment-metadata {
    top: 0px;
    right: 0px;
  }

  .comment-content {
    padding-left: 50px;
    padding-top: 5px;
    margin-top: -16px;
  }

  .reply {
    position: inherit;
    top: auto;
    right: auto;
    padding-left: 50px;
  }

  ol.children {
    margin-left: 0px;
  }

  .right_btn_donate {
    text-align: center;
    margin-top: 7px;
    margin-bottom: 10px;
  }

  .left_top {
    margin-top: 5px;
    display: inline-block;
  }

  .menu_main {
    position: absolute;
    top: -40px;
    right: 15px;
    left: 15px;
    display: inline-block;
    height: auto;
  }

  .menu_main .navbar-toggler {
    padding: 0px;
    border: medium none;
    border-radius: 0px;
  }

  .menu_main .navbar-toggler:focus {
    outline: none;
  }

  .navbar-light .navbar-toggler-icon {
    background-image: url(../images/image_icon.png) !important;
    height: 1em;
  }

  .menu_main .navbar-expand-lg .navbar-collapse {
    width: 315px;
    position: relative;
    left: 0px;
    top: 20px;
    padding: 0 0 15px 0px;
    right: 0px;
    z-index: 9999;
    background: #534e4a;
  }

  .menu_main .navbar-expand-lg .navbar-collapse li.nav-item {
    margin-left: 0px;
  }

  .menu_main .navbar-expand-lg .navbar-collapse li.nav-item a.nav-link {
    padding: 13px 15px 3px;
  }

  .slider_banner .container {
    padding: 0px;
  }

  .slider_content {
    padding: 50px 15px 90px;
  }

  .middle-content {
    margin-top: -35px;
    padding: 0px 15px;
  }

  .middle-content-text {
    border-right: medium none;
    border-bottom: 1px solid #efc94c;
  }

  .middle-content .col-md-3:last-child .middle-content-text {
    border-right: medium none;
    border-bottom: medium none;
  }

  .our-causes-list-img img {
    width: 100%;
    height: auto;
  }

  .our-causes-list {
    margin-bottom: 35px;
  }

  .our-causes-list p {
    text-align: center;
  }

  .our-causes-list h3 {
    margin: 0px;
    text-align: center;
  }

  .middle_banner_content h1 {
    font-size: 30px;
    padding: 0px 15px;
    margin-bottom: 15px;
  }

  .middle_banner_content p {
    font-size: 15px;
    padding: 0px 15px;
    max-width: 100%;
  }

  .middle_banner_content p br {
    display: none;
  }

  a.btn_donate_now,
  a.btn_read_more {
    margin: 0px 10px;
  }

  .middle_banner_content {
    padding: 50px 0px 50px;
    margin: 40px 0px 60px;
  }

  .middle-btn {
    margin-top: 10px;
  }

  .our-blog-inner h2 {
    font-size: 22px;
    font-weight: 500;
  }

  .footer_par {
    justify-content: center;
    margin-bottom: 15px;
    height: auto;
  }

  .footer-logo {
    margin-bottom: 10px;
  }

  .footer_social_icon {
    text-align: center;
  }

  .top_banner_head {
    padding: 60px 0px;
  }

  section.related.products {
    margin-top: 10px;
    margin-bottom: 40px;
  }

  .top_banner_head_content h1 {
    font-size: 28px;
    margin-top: 0px;
    margin-bottom: 5px;
  }

  .woocommerce.single-product div.product div.summary h1.product_title {
    font-size: 28px;
  }

  .blog-listing-inner-img img {
    width: 100%;
  }

  .our-causes-listing-img {
    margin-bottom: 15px;
  }

  .our-causes-listing .row {
    padding: 25px 0px 25px 0px;
  }

  .our-causes-listing .row:nth-child(2n+2) .col-md-5 {
    order: 1;
  }

  .our-causes-listing .row:nth-child(2n+2) .col-md-7 {
    order: 2;
  }

  .top_head_get p br {
    display: none;
  }

  .get-touch-address {
    margin-bottom: 30px;
  }

  .get-in-touch {
    padding: 35px 0px 40px;
  }

  .contact-form input.form-control {
    height: 55px;
    padding: 15px;
  }

  .contact-form textarea.form-control {
    height: 200px;
    padding: 15px;
  }

  .blog-details-inner-box h2 {
    font-size: 24px;
  }

  .btn_our-view {
    padding: 5px 0px 25px;
  }

  .top_head_get {
    margin-bottom: 30px;
  }

  .woocommerce-checkout article {
    max-width: 100%;
  }

  .woocommerce-checkout .woocommerce .col2-set .col-1 {
    max-width: 100%;
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }

  .woocommerce-checkout .woocommerce .col2-set .col-2 {
    max-width: 100%;
    margin-top: 20px;
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }

  .woocommerce-cart .entry-content {
    max-width: 100%;
  }

  .woocommerce-cart footer.entry-footer {
    max-width: 100%;
  }

  .woocommerce-shop .woocommerce ul.products li.product {
    width: 100% !important;
  }

  .woocommerce-shop .woocommerce ul.products li.product .button {
    top: -15em;
    left: 7em;
  }

  .woocommerce div.product .woocommerce-tabs ul.tabs li a {
    font-size: 15px;
  }

  .single-product.woocommerce .related ul.products li.product {
    width: 100%;
    margin-bottom: 30px;
  }

  .single-product.woocommerce .related ul.products {
    margin: 0px 0px 0px 0px;
  }

  .single-product.woocommerce .related ul.products li.product .button {
    left: 6em;
  }

  .woocommerce-Tabs-panel--description h2,
  .woocommerce-Tabs-panel--additional_information h2 {
    font-size: 22px !important;
  }

  table.variations td.value select {
    min-width: 80% !important;
  }

  .path-shop .views-view-grid li.product {
    clear: inherit !important;
    width: 100% !important;
    margin-bottom: 30px !important;
  }

  .path-shop .views-view-grid li.product .button {
    left: 7em;
  }

  .entry-content h2 {
    font-size: 25px !important;
  }

  .wp-block-table .has-fixed-layout td {
    font-size: 12px;
    padding-left: 4px;
    padding-right: 4px;
  }

  .our-causes-listing nav {
    margin-bottom: 20px;
    margin-top: 30px;
  }

  .woocommerce.single-product div.product div.summary {
    margin-top: 2em;
  }

  .woocommerce-NoticeGroup-checkout ul.woocommerce-error li {
    font-size: 13px;
  }

  .comment-form-left {
    width: 100%;
  }

  .comment-form-right {
    float: left;
    width: 100%;
  }

  .reply a.comment-reply-link:before {
    display: none;
  }

  .top-btn a.btn {
    margin-right: 6px;
  }

  .med_btn a.btn {
    margin-right: 6px;
  }

  .med_btn a.btn:first-child {
    margin-right: 6px;
  }

}

@media (max-width: 360px) {

  .menu_main .navbar-expand-lg .navbar-collapse {
    width: 290px;
    padding-left: 0px;
  }

  .menu_main {
    left: 15px;
  }

  .slider_content h1 {
    font-size: 35px;
    line-height: 40px;
  }

  a.btn_donate_now,
  a.btn_read_more {
    margin: 0px 2px;
  }

  .path-shop .views-view-grid li.product .button {
    left: 4.5em;
  }

}

@media (min-width: 768px) and (max-width: 991px) {

  .left_top ul li {
    margin-right: 7px;
  }

  .blog-listing-inner-img img {
    height: 110px;
  }

  .our-causes-list-img img {
    height: 110px;
  }

  ul.navbar-nav  li {
    margin-left: 0px;
    display: block;
  }

  ul.navbar-nav  li a {
    padding: 13px 15px 3px;
    display: block;
    text-align: left;
  }

  .navbar-nav  ul li {
    margin-left: 0px;
    display: block;
  }

  .navbar-nav  ul li a {
    padding: 13px 15px 3px;
    display: block;
  }

  ol.comment-list {
    margin-left: 0px;
    padding-left: 0px;
  }

  .comment-metadata {
    top: 2px;
  }

  .reply {
    top: 25%;
  }

  .our-blog-dates-inner {
    padding: 0px;
  }

  .woocommerce-shop .woocommerce ul.products li.product .button {
    left: 6.5em;
  }

  a.added_to_cart.wc-forward {
    left: 5.7em;
  }

  .menu_main {
    position: absolute;
    top: 7px;
    right: 15px;
    display: inline-block;
    height: auto;
  }

  .menu_main .navbar-toggler {
    padding: 0px;
    border: medium none;
    border-radius: 0px;
  }

  .menu_main .navbar-toggler:focus {
    outline: none;
  }

  .navbar-light .navbar-toggler-icon {
    background-image: url(../images/image_icon.png) !important;
    height: 1em;
  }

  .menu_main .navbar-expand-lg .navbar-collapse {
    width: 315px;
    position: relative;
    left: 0px;
    top: 7px;
    padding-bottom: 15px;
    right: 0px;
    z-index: 9999;
    background: #534e4a;
  }

  .menu_main .navbar-expand-lg .navbar-collapse li.nav-item {
    margin-left: 0px;
  }

  .menu_main .navbar-expand-lg .navbar-collapse li.nav-item a.nav-link {
    padding: 13px 15px 3px;
  }

  .middle-content-text h3 {
    font-size: 14px;
  }

  .middle-content-text h2 {
    font-size: 22px;
  }

  .our-causes-list h3 {
    font-size: 14px;
    margin: 0px;
  }

  .our-causes-list p {
    font-size: 13px;
    font-weight: 400;
  }

  .btn_our-view {
    padding: 15px 10px 25px;
  }

  a.btn-read-more {
    width: auto;
    padding: 0px 20px;
  }

  .middle_banner_content h1 {
    font-size: 35px;
    margin-bottom: 15px;
  }

  .middle_banner_content p {
    font-size: 15px;
  }

  .middle-btn {
    margin-top: 20px;
  }

  .footer_par p {
    font-size: 12px;
  }

  .footer_social_icon ul li {
    margin-left: 0px;
  }

  .footer_par {
    font-size: 12px;
  }

  .top_banner_head {
    padding: 60px 0px;
  }

  .blog-listing-inner h3 {
    font-size: 15px;
  }

  .blog-listing-inner p {
    font-size: 13px;
    font-weight: 400;
  }

  .shop-inner-content {
    padding: 8px;
  }

  .shop-inner-content h3 {
    font-size: 15px;
  }

  .shop-inner-content p {
    font-size: 12px;
  }

  .top_bar .col-md-6 {
    -ms-flex: 0 0 60%;
    flex: 0 0 60%;
    max-width: 60%;
  }

  .top_bar .col-md-6+.col-md-6 {
    -ms-flex: 0 0 40%;
    flex: 0 0 40%;
    max-width: 40%;
  }

  .top_banner_head_content h1 {
    font-size: 40px;
  }

  .our-causes-listing .col-md-5 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }

  .our-causes-listing .col-md-7 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }

  .our-causes-listing-img {
    margin-bottom: 15px;
  }

  .our-causes-listing .row:nth-child(2n+2) .col-md-5 {
    order: 1;
  }

  .our-causes-listing .row:nth-child(2n+2) .col-md-7 {
    order: 2;
  }

  .shop-inner .col-md-3,
  .blog-listing .col-md-3,
  .our-causes .col-md-3 {
    padding-left: 8px;
    padding-right: 8px;
  }

  .woocommerce-checkout article {
    max-width: 100%;
  }

  .woocommerce-checkout .woocommerce .col2-set .col-1 {
    max-width: 100%;
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }

  .woocommerce-checkout .woocommerce .col2-set .col-2 {
    max-width: 100%;
    margin-top: 20px;
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }

  .woocommerce-cart .entry-content {
    max-width: 100%;
  }

  .woocommerce-cart footer.entry-footer {
    max-width: 100%;
  }

  .woocommerce-shop .woocommerce ul.products li.product {
    clear: inherit !important;
    margin: 0 6px 35px !important;
  }

  .single-product.woocommerce .related ul.products li.product .button {
    left: 6em;
  }

  .single-product.woocommerce .related ul.products li.product {
    clear: inherit;
    margin: 0 13px 2.992em 0px;
  }

  .blog-listing-inner .our-blog-dates-inner {
    padding: 0px 10px;
  }

  .our-blog-dates-inner ul li {
    font-size: 12px;
  }

  .path-shop .views-view-grid li.product .button {
    left: 6.5em;
  }

  .path-shop .views-view-grid li.product {
    clear: inherit !important;
    margin-left: 6px !important;
    margin-right: 6px !important;
  }

  .path-shop .views-view-grid .col-md-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }

}

@media (min-width: 992px) and (max-width: 1199px) {

  .our-causes-list h3 {
    font-size: 18px;
  }

  .shop-inner-content {
    padding: 15px;
  }

  .shop-inner .col-md-3,
  .blog-listing .col-md-3,
  .our-causes .col-md-3 {
    padding-left: 8px;
    padding-right: 8px;
  }

  .our-causes-listing .row {
    padding: 25px 0px 25px 0px;
  }

  .our-blog-dates-inner {
    padding: 0px;
  }

  ol.comment-list {
    margin-left: 0px;
    padding-left: 0px;
  }

  .comment-metadata {
    top: 2px;
  }

  .reply {
    top: 24%;
  }

  .woocommerce-checkout article {
    max-width: 100%;
  }

  .woocommerce-cart .entry-content {
    max-width: 100%;
  }

  .woocommerce-cart footer.entry-footer {
    max-width: 100%;
  }

  .woocommerce-shop .woocommerce ul.products li.product {
    margin-right: 15px;
    margin-left: 15px;
    clear: inherit !important;
    width: 30%;
  }

  .product_price {
    padding: 20px 10px;
  }

  .product_price h2.woocommerce-loop-product__title {
    font-size: 14px !important;
  }

  .woocommerce .related ul.products li.product span.price {
    font-size: 11px;
  }

  .single-product .woocommerce .related ul.products li.product .button {
    left: 2em;
    top: -14em;
  }

  ul.navbar-nav  li {
    margin-left: 35px;
  }

  .navbar-nav  ul li {
    margin-left: 35px;
  }

  .blog-listing-inner .our-blog-dates-inner {
    padding: 0px 10px;
  }

  .single-product.woocommerce ul.products li.product a img {
    height: 244px !important;
  }

  .single-product.woocommerce ul.products li.product {
    height: 300px;
  }

  .single-product.woocommerce .related ul.products li.product .button {
    left: 2em;
  }

  .path-shop .views-view-grid li.product .button {
    left: 2.3em;
  }

  .path-shop .views-view-grid li.product {
    margin-right: 9px;
    height: 332px;
    width: 23% !important;
    margin-left: 9px;
  }

  .path-shop .views-view-grid li.product a img {
    height: 270px !important;
  }

  .med_btn a.btn,
  .top-btn a.btn {
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .top-btn {
    margin-bottom: 15px;
  }

  .med_btn {
    margin-bottom: 20px;
  }

  .alert-boxes-list .alert-dismissible {
    padding-right: 2rem;
  }

  .alert-boxes-list .alert {
    font-size: 13px;
  }

}

@media (min-width: 1200px) {

  .container {
    max-width: 1170px !important;
  }

  .blog-listing-inner-img img {
    height: 160px;
    object-fit: cover;
  }

  .single-product .woocommerce ul.products li.product {
    clear: inherit;
  }

  .logo img.custom-logo {
    width: 175px;
    height: 49px;
    object-fit: cover;
  }

  .wp-block-gallery figure {
    padding-right: 10px;
  }

  .footer_social_icon {
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: flex-end;
  }

  .footer_social_icon ul {
    margin: 0px;
  }

  .blog-listing-inner h3 {
    height: 65px;
  }

  .top_head_get p {
    max-width: 34%;
    margin: 0px auto;
  }

  .our-causes-tag ul li {
    margin-right: 30px;
  }

  .contact-form form {
    max-width: 40%;
    margin: 0px auto;
  }

  .our-blog-dates-inner ul li:last-child {
    margin-right: 0px;
  }

  .blog-listing-inner {
    min-height: 432px;
  }

}


@media(max-width: 1199px) {
  .region-slider .slider_content h1 {
    font-size: 50px;;
    line-height: 60px;
    letter-spacing: 3px;
    width: 35%;
  }
  .region-slider .views_slideshow_cycle_main {
    height: 374px;
  }
  .region-slider .views_slideshow_cycle_slide {
    height: 374px !important;
  }
  .contact-form form {
    max-width: 90% !important;
    margin: auto;
  }
}

@media(max-width: 991px) {
  .region-slider .views_slideshow_cycle_main {
    height: 500px;
  }
  .region-slider .views_slideshow_cycle_slide {
    height: 500px !important;
  }
  .region-slider .views_slideshow_cycle_main img {
    height: 500px;
    object-fit: cover;
  }
  .region-slider .slider_content h1 {
    width: 44%;
  }
  nav ul.navbar-nav li a {
    font-size: 16px;
    padding: 10px 10px 5px !important;
    text-transform: uppercase;
  }

  .layout-checkout-form.clearfix {
    padding: 0 15px;
  }
}

@media(max-width: 767px) {
  .left_top {
    width: 100%;
  }
  .top_bar a.cart-block--link__expand {
    margin: 10px auto;
  }
  .our-causes-top .block-block-content p {
    max-width: 93%;
  }
  .views-view-grid .col-md-3 {
    width: 100% !important;
  }
  .our-causes-top .block-block-content {
    margin-bottom: 20px;
  }
  .our-causes-list {
    height: auto;
    padding-bottom: 0;
  }
  .our-causes-list p {
    max-width: 100%;
  }
  .our-causes-list .views-field-title a {
    margin-bottom: 0;
  }
  .views-field.views-field-title span.field-content {
    height: auto;
    text-align: center;
  }
  div#block-views-block-home-blogs-block-1 .our-causes-list .field-content p {
    text-align: left;
    padding-bottom: 20px;
  }
  div#block-views-block-home-blogs-block-1 .our-causes-list .views-field.views-field-body {
    padding-bottom: 5px;
  }
  .region-slider .slider_content h1 {
    width: 100%;
  }
  .region-slider .views_slideshow_cycle_main {
    height: 450px;
  }
  .region-slider .views_slideshow_cycle_slide {
    height: 450px !important;
  }
  .region-slider .views_slideshow_cycle_main img {
    height: 450px;
  }
  .our-causes-top h1 {
    margin-top: 0;
  }
  .views-view-grid .col-md-3 {
    width: 100% !important;
    max-width: 100% !important;
    flex: 0 0 100% !important;
  }
  .views-view-grid .views-row {
    width: auto;
  }
  .our-causes-top {
    padding-bottom: 0px;
  }
  div#block-views-block-home-blogs-block-1 .our-causes-list .views-field-title a {
    text-align: left;
  }
  .view-footer .view_more_btn {
    margin: 00px 0 30px;
  }

  .view-id-couses_page ul li:nth-child(even) .col-md-5 {
    order: 1;
  }
  .view-id-couses_page ul li:nth-child(even) .col-md-7 {
    order: 1;
  }
  .view-id-couses_page ul li .col-md-5 {
    margin-bottom: 20px;
  }
  ul.pager__items.js-pager__items {
    margin: 20px 0;
  }
  .view-blogs .our-causes-list p {
    text-align: left;
  }
  .view-blogs .views-field.views-field-title span.field-content {
    text-align: left;
  }
  .top_head_get {
    padding: 0 15px;
  }
  .region.region-content .block-system-main-block .field__item img {
    height: 200px;
  }
  h3.page-title {
    font-size: 30px;
  }
  .region.region-bread-crumb {
    top: 66px;
  }
  .block-page-title-block {
    margin-bottom: 0;
  }
  .clearfix.text-formatted.text-justify.field.field--name-body.field--type-text-with-summary.field--label-hidden.field__item > .entry-content .row .col-md-4 {
    margin-bottom: 30px;
  }
  .field.field--name-field-product-image {
    margin-bottom: 30px;
    overflow: hidden;
    margin-left: -5px;
    margin-right: -5px;
  }


  .view-commerce-cart-form form#views-form-commerce-cart-form-default-4 {
    overflow: scroll;
  }

  .view-commerce-cart-form table.views-table.views-view-table.cols-5 {
    width: 700px;
  }

  .commerce-checkout-flow .js-form-item-payment-information-billing-information-address-0-address-given-name {
    width: 100%;
    margin-right: 0px;
  }

  .commerce-checkout-flow .js-form-item-payment-information-billing-information-address-0-address-family-name {
    width: 100%;
  }

  .commerce-checkout-flow .js-form-item-payment-information-billing-information-address-0-address-locality {
    width: 100%;
    margin-right: 0px;
  }

  .commerce-checkout-flow .js-form-item-payment-information-billing-information-address-0-address-postal-code {
    width: 100%;
  }

}
#search-block-form--2 {
   display: none;
 }


 #block-pachu-content .view .view-frontpage {
    text-align: center;
   }
   
.commerce-checkout-flow .form-item input.form-checkbox {
    width: 20px !important;
    height: 20px !important;
    margin: 0px;
    padding: 0;
}

.form-item {
    text-align:left !important;
}