{#
/**
 * @file
 *
 * Default product template.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper.
 * - product: The rendered product fields.
 *   Use 'product' to print them all, or print a subset such as
 *   'product.title'. Use the following code to exclude the
 *   printing of a given field:
 *   @code
 *   {{ product|without('title') }}
 *   @endcode
 * - product_entity: The product entity.
 * - product_url: The product URL.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @ingroup themeable
 */
#}
<div class="top_banner_head" style="background-image: url(https://demosrvr.com/project/wp/pachu/wp-content/themes/pachu/assets/images/cat-banner.jpg);">
</div>
<div class="container">
<div class="row">
	<div class="col-md-7">
		{{ product.field_product_image }}
	</div>
	<div class="col-md-5">
		<h1>{{ product.title }} </h1>
		<p class="price"><del aria-hidden="true"><span class="woocommerce-Price-amount amount"><bdi>{{ product.variation_list_price }}</bdi></span></del> <ins><span class="woocommerce-Price-amount amount"><bdi>{{ product.variation_price }}</bdi></span></ins></p>

		{{ product.variations }}
		
	</div>
</div>
</div>