<footer id="colophon" class="footer_section">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<div class="footer_par">
					{% if page.footer_first %}
						{{ page. footer_first }}
					{% else %}	
						<p> &copy; <span id="displayYear">{{ 'now' | date('Y') }} </span>All Rights Reserved</p>
					{% endif %}	
					</div>
				</div>

				<div class="col-md-4">
					{% if page.footer_second %}
						{{ page. footer_second }}
					{% else %}	
					<div class="footer-logo">
						<div class="logo">
		          									<a href="{{ path('<front>') }}">
										<img src="{{ logopath }}">
									</a>
									
						</div>
					</div>
					{% endif %}
				</div>

				<div class="col-md-4">
					{% if page.footer_third %}
						{{ page. footer_third }}
					{% else %}	
					<div class="footer_social_icon">
		          		{% if twitter or facebook or instagram or pintrest %}
				            <ul>
				            {% if facebook %}
				            	<li><a href="{{ facebook }}"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
					        {% endif %}
				            {% if instagram %}
				              		<li><a href="{{ instagram }}"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
					        {% endif %}
				            {% if twitter %}
				            	<li>
				            		<a href="{{ twitter }}">
				            			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi 	
				            				bi-twitter-x" viewBox="0 0 16 16">
												<path d="M12.6.75h2.454l-5.36 6.142L16 15.25h-4.937l-3.867-5.07-4.425 5.07H.316l5.733-6.57L0 .75h5.063l3.495 4.633L12.601.75Zm-.86 13.028h1.36L4.323 2.145H2.865z"/>
										</svg>
									</a>
								</li>
					        {% endif %}
				            {% if pintrest %}
				              		<li><a href="{{ pintrest }}"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
					        {% endif %}
   					        </ul>
   					   {% endif %}         
					</div>
					{% endif %}
				</div>
			</div>
		</div>
		{% if page.footer %}
			<div class="container">
				{{ page.footer }}
			</div>
		{% endif %}	
	</footer>
