<header id="masthead" class="site-header">
		<div class="top_bar">
		    <div class="container">
		      	<div class="row">
		        	<div class="col-md-6">
			        {% if page.top_header %}
			        	{{ page.top_header }}
			        {% else %}	

		          		<div class="left_top">
		          		{% if twitter or facebook or instagram or pintrest %}
			            	<ul>
				              	<li>
					                <a href="#"><img src="{{ path_to_theme }}/images/share.png"> OUR SOCIAL</a>
				            	</li>
				            </ul>
						{% endif %}
				            <ul>
				            {% if facebook %}
				            	<li><a href="{{ facebook }}"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
					        {% endif %}
				            {% if instagram %}
				              		<li><a href="{{ instagram }}"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
					        {% endif %}
				            {% if twitter %}
					            	<li>
					            		<a href="{{ twitter }}">
					            			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi 	
				            				bi-twitter-x" viewBox="0 0 16 16">
												<path d="M12.6.75h2.454l-5.36 6.142L16 15.25h-4.937l-3.867-5.07-4.425 5.07H.316l5.733-6.57L0 .75h5.063l3.495 4.633L12.601.75Zm-.86 13.028h1.36L4.323 2.145H2.865z"/>
										</a>
									</li>
					        {% endif %}
				            {% if pintrest %}
				              		<li><a href="{{ pintrest }}"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
					        {% endif %}
   					            </ul>
			          	</div>
			         {% endif %} 	
			        </div>
			        <div class="col-md-6">
			        {% if page.top_header_r %}
			        	{{ page.top_header_r }}
			        {% else %}	

			   			<div class="right_btn_donate">
			            	<a href="{{ basepath }}/cart/"><i class="fa fa-shopping-cart" aria-hidden="true"></i> 
				            	0 Donate Now</a>
				        </div>
				     {% endif %}   
 			        </div>
		      	</div>
		    </div>
		</div>
		<div class="main_header" style="background: #534e4a;">
	      	<div class="container">
	        	<div class="row">
	          		<div class="col-md-3">
		            	<div class="logo">
		              		<a class="navbar-brand" href="{{ path('<front>') }}"><img src="{{ logopath }}" alt="logo"></a>
		            	</div>
		          	</div>
	          		<div class="col-md-9">
	            		<div class="menu_main">
	              			<nav class="navbar navbar-expand-lg navbar-light">
	                			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
	                  				<span class="navbar-toggler-icon"></span>
	                			</button>
								<div class="collapse navbar-collapse"  id="navbarText">
									{{ page.header }}
								</div>
		              		</nav>
		            	</div>
		          	</div>
		        </div>
		    </div>
		</div>
	</header>
